<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default}">
<head>
  <title>북레이 - 조회</title>
  <link href="/css/product/elipse-style.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="card-header">
        <h1 th:if="${bodyTitle} != null" th:text="${bodyTitle}"></h1>
      </div>

      <div th:if="${#arrays.isEmpty(productList)}" class="card-body">
        <div class="d-flex align-items-center">
          <h3> 조회 가능한 상품이 존재하지 않습니다.</h3>
        </div>
      </div>

      <!--     반복 -->
      <th:block th:each="item : ${productList}">
        <div class="col-sm-5 col-lg-3">
          <div class="card card-sm">
            <a th:href="@{/product/view/{productId} (productId = ${item.id})}" class="d-block">
              <div class="text-center" style="width:auto; min-height:400px; margin: auto; display:flex; align-items: center;">
                <img class="product-img" style="max-height: 413px; width: 95%; margin:auto;" th:src="@{/storage/{thumbnail} (thumbnail = ${item.thumbnail})}"/>
              </div>
            </a>
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div>
                  <div><a class="ellipsis-text-2" th:text="${item.title}" th:href="@{/product/view/{productId} (productId = ${item.id})}" ></a></div>
                  <div class="ellipsis-text-1" th:each=" author : ${item.authors}">
                    <a th:href="@{/search/products(classification = 'authors', id = ${author.id})}" th:text="${author.name}"></a>
                  </div>
                  <div class="text-muted" th:text="${#numbers.formatCurrency(item.price)}"></div>
                  <div class="text-muted ellipsis-text-1" th:text="${item.publisher}"></div>
                </div>
              </div>
              <div class="ms-auto">
                <span th:if="${!item.selling}" class="btn btn-danger w-5 h-2">품절</span>
              </div>

            </div>
          </div>
        </div>
      </th:block>
      <!--     반복-->

    </div>
  </div>

  <div class="align-items-center">
    <th:block th:replace="thymeleaf/fragments/pagination :: pagination">
    </th:block>
  </div>
</th:block>

</html>
