<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${product.title}"></title>
  <link href="/css/product/productView.css" rel="stylesheet"/>
</head>
<body>

<div id="detail">

  <div id="top-info">

    <div id="thumbnail">
      <img class="main-img"
           th:src="@{/storage/{objectFileId} (objectFileId = ${product.objectFileId})}"/>
    </div>

    <div id="information">
      <h2 th:text="${product.title}"></h2>
      <p th:if="${product.productDetailId != null}">
        작가 :
        <th:block th:each="author : ${product.authors}">
          <span th:text="${author.name}"/>
        </th:block>
        &ensp;
        <span th:text="${product.publisher}"/> |
        <span th:text="${product.publishedDate}"/>
      </p>

      <p th:if="${product.subscribeId != null}">
        <span th:text="${product.publisher}"/> |
        매월 <span th:text="${product.subscribeWeek}"/>주차
        <span th:text="${product.subscribeDay}"/> 발송
      </p>
      <hr>
      <p> 정가 | <span th:text="${product.price}"/>원</p>
      <!--    <p th:text="${product.salePrice}"></p>-->
      <p> 적립률 |
        <span th:if="${product.pointMethod}" th:text="${product.pointRate}"/>
        <span th:if="${product.pointMethod == false}" th:text="0"/>
        %</p>
      <P>연관 태그</P>
      <th:block th:each="tag : ${product.productTags}">
        <span th:text="${tag.name}"/>
      </th:block>
      </br>
      <input th:id="${productNo}" type="button" value="태그 등록 팝업창 호출"
             onclick="showTagRegisterPopup(id);"/>

      <div id="button-var">
        <th:block th:if="${product.isSelling}">
          <form class="btnAtVar" method="post" action="/order/product">
            <input name="memberNo" type="number" th:if="${member != null}"
                   th:value="${member.memberNo}"
                   hidden="hidden"/>
            <input class="numIn" name="count" type="number" min="1" value="1"/>
            <input name="productNo" type="number" th:value="${product.productId}" hidden="hidden">
            <input type="submit" value="구매"/>
          </form>

          <form class="btnAtVar" method="post" action="/cart">
            <input name="memberNo" type="number" th:if="${member != null}"
                   th:value="${member.memberNo}"
                   hidden="hidden"/>
            <input class="numIn" name="count" type="number" min="1" value="1"/>
            <input name="productNo" type="number" th:value="${product.productId}" hidden="hidden">
            <input type="submit" value="카트에 넣기"/>
          </form>
        </th:block>

        <span class="btnAtVar" th:if="${!product.isSelling}">품절</span>

        <!--<th:block th:if="${member !=null}">-->
        <form class="btnAtVar" method="post" action="">
          <input name="memberNo" type="number" th:if="${member != null}"
                 th:value="${member.memberNo}"
                 hidden="hidden"/>
          <input type="submit" value="찜 등록"/>
        </form>

        <form class="btnAtVar" method="post" action="">
          <input name="memberNo" type="number" th:if="${member != null}"
                 th:value="${member.memberNo}"
                 hidden="hidden"/>
          <input type="submit" value="알림 등록"/>
        </form>
        <!--        </th:block>-->

        <!--        관리자 식별-->
        <th:block>
          <form th:if="${product.productDetailId != null}" class="btnAtVar" method="get"
                th:action="@{/admin/product/books/update/{productId} (productId = ${productNo})}">
            <input type="submit" value="수정"/>
          </form>

          <form th:if="${product.subscribeId != null}" class="btnAtVar" method="get"
                th:action="@{/admin/product/subscribes/update/{productId} (productId = ${productNo})}">
            <input type="submit" value="수정"/>
          </form>

          <form class="btnAtVar" method="post"
                th:action="@{/admin/product/delete/{productId} (productId = ${productNo})}">
            <input type="submit" value="삭제"/>
          </form>

        </th:block>
      </div>

    </div>
  </div>


  <!--  추천상품-->
  <div id="recommendGoods">
    <h3>연관 상품</h3>

    <input th:id="${product.productId}" type="button" value="연관 상품 추가"
           onclick="showRecommendRegisterPopup(id);"/>

    <div id="recommendGoodsView">
      <th:block th:each="recommend : ${recommendProducts}">
        <div class="rCmdGoods">
            <img class="product-img"
                 th:src="@{/storage/{objectFileId} (objectFileId = ${recommend.objectFileId})}"/>
          <P class="rCmdTxt">
            <a th:href="@{/product/view/{productId} (productId = ${recommend.productId})}"
               th:text="${recommend.title}"/>
          </P>
          <p class="rCmdTxt">
            <th:block th:each="author : ${recommend.authors}">
              <span th:text="${author.name}"/>
            </th:block>
            | <span th:text="${recommend.publisher}"/>
          </p>
          <p class="rCmdTxt"><span th:text="${recommend.price}"/> 원</p>
        </div>
      </th:block>
    </div>
  </div>


  <div id="short_description">
    <h3>짧은 설명</h3>
    <hr>
    <span th:text="${product.shortDescription}"/>
  </div>

  <hr>
  <div id="long_description">
    <h3>긴 책 설명</h3>
    <hr>
    <span th:text="${product.longDescription}"/>
  </div>
</div>

<!--구독시 배송되는 상품-->
<th:block th:if="${product.subscribeId != null}">
  <hr>
  <div id="booksAtSubscribed">
    <h3>구독시 발송되는 책들</h3>
    <input th:id="${product.subscribeId}" type="button" value="구독 상품에 책 추가"
           onclick="showBookSubscribeRegisterPopup(id);"/>
    <hr>

    <table border=1>
      <tbody>
      <th:block th:each="book : ${booksAtSubscribe}">
        <tr>
          <td rowspan="3">
            <img class="product-img"
                 th:src="@{/storage/{objectFileId} (objectFileId = ${book.objectFileId})}"/>
          </td>
          <td colspan="2">
            <a th:href="@{/product/view/{productId} (productId = ${book.productId})}"
               th:text="${book.title}"/></td>
        </tr>

        <tr>
          <td>
            작가 :
            <th:block th:each="author : ${book.authors}"><span th:text="${author.name}"/>
            </th:block>
          </td>
          <td>출판사 : <span th:text="${book.publisher}"/></td>
        </tr>

        <tr>
          <td><span th:text="${book.price}"/> 원</td>
          <td>적립률 : <span th:if="${book.pointMethod}" th:text="${book.pointRate}"/> %</td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</th:block>

<div id="relation">
</div>

<div id="review">
</div>

<div id="productQNA"></div>

<form method="get" action="/product/display">
  <input type="submit" value="목록">
</form>

<script>
  function showTagRegisterPopup(productNo) {
    window.open("/admin/tag/connection/" + productNo + "/0", "a",
        "width=500, height=550, left=100, top=50");
  }

  function showBookSubscribeRegisterPopup(subscribeId) {
    window.open("/admin/product/subscribes/connect/" + subscribeId + "/0", "a",
        "width=1000, height=550, left=100, top=50");
  }

  function showRecommendRegisterPopup(productNo) {
    window.open("/admin/product/recommend/" + productNo + "/0", "a",
        "width=750, height=550, left=100, top=50");
  }
</script>
</body>
</html>