<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<table>
  <thead>

  <tr>
    <th>상품 번호</th>
    <th>이미지</th>
    <th>제목</th>
    <th>작가</th>
    <th>가격</th>
    <th>적립여부</th>
    <th>적립률</th>
  </tr>
  </thead>
  <th:block th:each="product : ${productList}">
    <tr>
      <td><span th:text="${product.productId}"/></td>
      <td>이미지 입니다...</td>
      <td><a th:href="@{/product/view/{productNo} (productNo=${product.productId})}" th:text="${product.title}"/></td>
      <td>
        <th:block th:if="${product.authors != null}" th:each="author : ${product.authors}">
          <span th:text = "${author.name}"/>
        </th:block>
      </td>
      <td><span th:text="${product.price}"/></td>
      <td><span th:text="${product.pointMethod}"/></td>
      <td><span th:text="${product.pointRate}"/></td>
    </tr>
  </th:block>
  <tbody>

  </tbody>
</table>
</body>
</html>