<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form>
  <input type="text" name="search"/>
  <input type="submit" value="검색"/>
</form>
<script th:inline="javascript">
  const productList = [[${productList}]];
</script>
<script src="/js/product/productBoardForCart.js"></script>
<table border=1>
  <tbody>
  <th:block th:each="product : ${productList}">
    <tr>
      <td rowspan="3">이미지 입니다...</td>
      <td colspan="2"><a th:href="@{/product/view/{productId} (productId = ${product.productId})}"
                         th:text="${product.title}"/></td>
      <td><input th:id="${product.productId+'count'}" type="number" min="1"/></td>
    </tr>

    <tr>
      <td>
        작가 :
        <th:block th:each="author : ${product.authors}"><span th:text="${author.name}"/>
        </th:block>
      </td>
      <td>출판사 : <span th:text="${product.publisher}"/></td>
      <td><input th:id="${product.productId+'cart'}" th:if="${product.isSelling}" type="button" value="카트에 넣기"/>
        <span th:if="${!product.isSelling}" >품절</span>
      </td>
    </tr>

    <tr>
      <td><span th:text="${product.price}"/> 원</td>
      <td>적립률 : <span th:if="${product.pointMethod}" th:text="${product.pointRate}"/> %</td>
      <td><input th:id="${product.productId+'order'}" th:if="${product.isSelling}" type="button" value="바로 구매"/>
        <span th:if="${!product.isSelling}" >품절</span>
      </td>
    </tr>
  </th:block>
  </tbody>
</table>

<hr>
<div>
  <a th:if="${nowPage - 1 >= 1}"
     th:href="@{/product/display/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage}-2)}">
    <span th:text="${nowPage}-1"/></a>
  <a th:if="${nowPage >= 1}"
     th:href="@{/product/display/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage}-1)}">
    <span th:text="${nowPage}"/></a>

  <a th:if="${nowPage+1 != totalPage}"
     th:href="@{/product/display/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage})}">
    <span th:text="${nowPage}+1"/></a>

  <a th:if="${nowPage + 2 < totalPage}"
     th:href="@{/product/display/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage}+1)}">
    <span th:text="${nowPage}+2"/></a>
  <a th:if="${nowPage + 3 < totalPage}"
     th:href="@{/product/display/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage}+2)}">
    <span th:text="${nowPage}+3"/></a>

  <span th:if="${nowPage + 3 < totalPage}">...</span>

  <a th:href="@{/product/display/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${totalPage}-1)}">
    <span th:text="${totalPage}"/></a>
</div>
</body>
</html>