<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default}">
<head>
  <title th:text="${product.info.title}"></title>

  <script src="/js/product/productDetailForCart.js"></script>
</head>
<!---->
<th:block layout:fragment="content">

  <div class="container-xl">
    <div class="card card-lg">
      <div class="card-body">
        <div class="row">

          <input id="productNo" name="productId" type="number" th:value="${product.info.id}" hidden>
          <div class="col-4">
            <!--   사진  -->
            <img th:src="@{/storage/{objectFileId} (objectFileId = ${product.info.objectFileId})}"/>

            <!--  사진   -->
          </div>
          <div class="col-8 text-left">
            <p class="h3" th:text="${product.info.title}"></p>
            <p class="h4" th:utext="${product.info.shortDescription}"></p>

            <p class="mt-4" style="line-height: 5px">
              <span class="badge bg-azure">저자</span>
              <span th:unless="${product.authors == null}"
                    th:text="${#strings.arrayJoin(product.getAuthorNameList(), ', ')}"></span>
            </p>

            <th:block th:unless="${product.detail} == null">

              <p style="line-height: 5px">
                <span class="text-success">출판사</span>
                <span th:text="${product.detail.publisher}"></span>
              </p>

              <p style="line-height: 5px">
                <span class="text-success">출판일</span>
                <span th:text="${product.detail.publishedDate}"></span>
              </p>

              <p style="line-height: 5px">
                <span class="text-success">pages</span>
                <span th:text="${product.detail.page}"></span>
              </p>

              <p style="line-height: 5px">
                <span class="text-success">ISBN</span>
                <span th:text="${product.detail.isbn}"></span>
              </p>

            </th:block>

            <th:block th:unless="${product.subscribe} == null">

              <p style="line-height: 5px">
                <span class="text-success">출판사</span>
                <span th:text="${product.subscribe.publisher}"></span>
              </p>

            </th:block>

            <hr/>

            <p style="line-height: 5px">
              <th:block th:if="${product.info.pointMethod}">
                <span class="text-info">적립률</span>
                <span th:text="${product.info.pointRate}"></span>
                <span>%</span>
              </th:block>
              <th:block th:if="${!product.info.pointMethod}">
                <span class="text-info">미적립 상품</span>
              </th:block>
            </p>

            <p style="line-height: 5px">
              <span class="text-info">태그</span>
              <span th:unless="${product.tags == null}"
                    th:text="${#strings.arrayJoin(product.getTagList(), ', ')}"></span>
            </p>

            <p style="line-height: 5px">
              <span class="text-info">가격</span>
              <span th:text="${#numbers.formatCurrency(product.info.price)}"></span>
            </p>

            <!--            wishlist, alarm-->
            <th:block th:if="${thisMember.memberNo != null}">
              <div style="display: flex;">
                <!--              위시리스트 등록-->
                <form style="margin-right: 10px;" th:if="${!memberProduct.wishlist}" method="post"
                      th:action="@{/product/wishlist/connect}">
                  <input name="memberNo" type="number" th:value="${thisMember.memberNo}" hidden>
                  <input name="productId" type="number" th:value="${product.info.id}"
                         hidden>
                  <label class="btn btn-outline-primary">
                    <input type="submit" hidden>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="icon icon-tabler icon-tabler-checklist" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path
                          d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"></path>
                      <path d="M14 19l2 2l4 -4"></path>
                      <path d="M9 8h4"></path>
                      <path d="M9 12h2"></path>
                    </svg>
                    찜 등록
                    </input>
                  </label>
                </form>
                <!--              위시리스트 삭제-->
                <form style="margin-right: 10px;" th:if="${memberProduct.wishlist}" method="post"
                      th:action="@{/product/wishlist/disconnect}">
                  <input name="memberNo" type="number" th:value="${thisMember.memberNo}" hidden>
                  <input name="productId" type="number" th:value="${product.info.id}" hidden>
                  <label class="btn btn-primary">
                    <input type="submit" hidden>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="icon icon-tabler icon-tabler-checklist" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path
                          d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"></path>
                      <path d="M14 19l2 2l4 -4"></path>
                      <path d="M9 8h4"></path>
                      <path d="M9 12h2"></path>
                    </svg>
                    찜 취소
                    </input>
                  </label>
                </form>
                <!--              알람 등록-->
                <form th:if="${!memberProduct.alarm}" method="post"
                      th:action="@{/product/alarm/connect}">
                  <input name="memberNo" type="number" th:value="${thisMember.memberNo}" hidden>
                  <input name="productId" type="number" th:value="${product.info.id}" hidden>
                  <label class="btn btn-outline-primary">
                    <input type="submit" hidden>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="icon icon-tabler icon-tabler-bell-ringing" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path
                          d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                      <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                      <path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727"></path>
                      <path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727"></path>
                    </svg>
                    재입고 알림
                    </input>
                  </label>
                </form>
                <!--              알람 삭제-->
                <form th:if="${memberProduct.alarm}" method="post"
                      th:action="@{/product/alarm/disconnect}">
                  <input name="memberNo" type="number" th:value="${thisMember.memberNo}" hidden>
                  <input name="productId" type="number" th:value="${product.info.id}" hidden>
                  <label class="btn btn-primary">
                    <input type="submit" hidden>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="icon icon-tabler icon-tabler-bell-off" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M3 3l18 18"></path>
                      <path
                          d="M17 17h-13a4 4 0 0 0 2 -3v-3a7 7 0 0 1 1.279 -3.716m2.072 -1.934c.209 -.127 .425 -.244 .649 -.35a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3"></path>
                      <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                    </svg>
                    </input>
                    재입고 알림 중
                  </label>
                </form>
              </div>
            </th:block>
            <!--            wishlist alarm end-->

            <p th:if="${!product.info.selling}" class="btn btn-danger w-5 h-4"
               style="margin-top: 10px;">품절</p>

            <!--            구매 부분 시작-->
            <div th:if="${product.info.selling}" style="display:flex; margin-top:10px;">

              <input id="productCount" style="margin-right: 10px;" type="number" step="1" min="1"
                     th:max="${product.detail.storage}"
                     value="1">
              <!--              th:max="${product.detail.storage}"-->

              <button class="btn btn-primary" id="toOrder" style="margin-right: 10px;">바로 구매
              </button>

              <button class="btn btn-outline-primary" id="addCart" style="margin-right: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="icon icon-tabler icon-tabler-shopping-cart" width="24" height="24"
                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                  <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                  <path d="M17 17h-11v-14h-2"></path>
                  <path d="M6 5l14 1l-1 7h-13"></path>
                </svg>
                카트에 넣기
              </button>

            </div>

          </div>

          <div class="col-12 my-4">
            <h1>관련 분류</h1>

            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><span>국내도서</span></li>
              <li class="list-inline-item"><span class="text-blue">소설</span></li>
            </ul>

            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><span>국내도서</span></li>
              <li class="list-inline-item"><span class="text-blue">소설</span></li>
            </ul>

            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><span>국내도서</span></li>
              <li class="list-inline-item"><span class="text-blue">소설</span></li>
            </ul>
          </div>

          <!--          연관상품 시작-->
          <div class="row row-cards">
            <div class="card-header">
              <h1>연관 상품</h1>
            </div>
            <th:block th:each="item : ${recommendProducts}">
              <div class="col-sm-4 col-lg-2">
                <div class="card card-sm">
                  <a th:href="@{/product/view/{productId} (productId = ${item.productId})}"
                     class="d-block">
                    <div class="text-center">
                      <img class="product-img"
                           style="max-height: 413px; width: 95%; margin-top:10px; overflow: auto;"
                           th:src="@{/storage/{objectFileId} (objectFileId = ${item.objectFileId})}"/>
                    </div>
                  </a>
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div>
                        <div><a th:text="${item.title}"
                                th:href="@{/product/view/{productId} (productId = ${item.productId})}"></a>
                        </div>
                        <div class="text-muted">
                          <th:block th:each="author : ${item.authors}">
                            <span th:text="${author.name}"/>
                          </th:block>
                        </div>
                        <div class="text-muted"
                             th:text="${#numbers.formatCurrency(item.price)}"></div>
                        <div class="text-muted" th:text="${item.publisher}"></div>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="#" class="text-muted">
                        <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                          <path
                              d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path>
                        </svg>
                        467
                      </a>
                      <a href="#" class="ms-3 text-muted">
                        <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path
                              d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                        </svg>
                        67
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </th:block>
          </div>
          <!--          연관상품 종료-->

          <!--/* 책 소개 */-->
          <div class="col-12 my-4">
            <h1>책 소개</h1>
            <p th:utext="${product.info.longDescription}"></p>
          </div>

          <div class="card">
            <!--탭 목록-->
            <ul class="nav nav-tabs" data-bs-toggle="tabs">
              <li class="nav-item">
                <a href="#tabs-description-7" class="nav-link active" data-bs-toggle="tab">상세 설명</a>
              </li>
              <li class="nav-item">
                <a href="#tabs-qna-7" class="nav-link" data-bs-toggle="tab">상품 문의</a>
              </li>
              <li class="nav-item">
                <a href="#tabs-review-7" class="nav-link" data-bs-toggle="tab">상품 리뷰</a>
              </li>
            </ul>

            <!--탭 내용-->
            <div class="card-body">
              <div class="tab-content">
                <!--설명-->
                <div class="tab-pane active show" id="tabs-description-7">
                  <div th:utext="${product.info.longDescription}">
                  </div>
                </div>
                <!--상품 문의-->
                <div class="tab-pane" id="tabs-qna-7">
                  <div>
                    <div class="table-responsive">
                      <table class="table table-vcenter card-table">
                        <thead>
                        <tr>
                          <th>답변 상태</th>
                          <th>제목</th>
                          <th>작성자</th>
                          <th>작성일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:bloack th:each="post:${postList}">
                          <tr>
                            <td><span th:text="${post.answered} ? '답변': '미답변'"></span></td>
                            <td>
                              <span th:text="${'ensp;'*post.depth}"/>
                              <!--보임-->
                              <th:block
                                  th:if="${post.viewPublic or post.memberNo == thisMember.memberNo}">
                                <a th:href="@{/board/view/{postId} (postId = ${post.postId})}"
                                   th:text="${post.title}"/>
                              </th:block>
                              <!--안보임-->
                              <th:block
                                  th:if="${!post.viewPublic and post.memberNo != thisMember.memberNo}">
                                <span>비밀글입니다. <svg xmlns="http://www.w3.org/2000/svg"
                                                   class="icon icon-tabler icon-tabler-lock"
                                                   width="24"
                                                   height="24" viewBox="0 0 24 24" stroke-width="2"
                                                   stroke="currentColor" fill="none"
                                                   stroke-linecap="round" stroke-linejoin="round">
   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
   <path d="M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
   <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
   <path d="M8 11v-4a4 4 0 0 1 8 0v4"></path>
</svg>
                                </span>
                              </th:block>
                            </td>
                            <td><span th:text="${post.writer}"/></td>
                            <td><span th:text="${post.createdAt}"/></td>
                          </tr>
                        </th:bloack>
                        </tbody>
                      </table>
                      <th:block
                          th:replace="thymeleaf/fragments/pagination :: pagination"></th:block>
                    </div>
                    <button th:if="${thisMember.memberNo != null}" class="btn btn-outline-primary"
                            style="float: right;">
                      <a th:href="@{/product/board/{productNo} (productNo = ${productNo})}">상품 문의
                        작성</a>
                    </button>
                  </div>
                </div>
                <!--상품 리뷰-->
                <div class="tab-pane" id="tabs-review-7">
                  <div>Donec ac vitae diam amet vel leo egestas consequat rhoncus in luctus amet,
                    facilisi sit mauris accumsan nibh habitant senectus
                  </div>
                </div>
              </div>
            </div>
            <!--탭 내용 종료-->
          </div>
        </div>
        <!--/* 책 소개 */-->

        <!--          구독 상품 자식 상품 시작-->
        <th:block th:if="${product.subscribe != null}">
          <div class="row row-cards">
            <div class="card-header">
              <h1>구독 하위 상품</h1>
            </div>
            <th:block th:each="item : ${booksAtSubscribe}">
              <div class="col-sm-4 col-lg-2">
                <div class="card card-sm">
                  <a th:href="@{/product/view/{productId} (productId = ${item.productId})}"
                     class="d-block">
                    <div class="text-center" style="width:auto; min-height:200px; margin: auto;">
                      <img class="product-img"
                           style="max-height: 413px; width: 95%; margin-top:10px;"
                           th:src="@{/storage/{objectFileId} (objectFileId = ${item.objectFileId})}"/>
                    </div>
                  </a>
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div>
                        <div>
                          <a th:text="${item.title}"
                             th:href="@{/product/view/{productId} (productId = ${item.productId})}"></a>
                        </div>
                        <div class="text-muted">
                          <th:block th:each="author : ${item.authors}">
                            <span th:text="${author.name}"/>
                          </th:block>
                        </div>
                        <div class="text-muted"
                             th:text="${#numbers.formatCurrency(item.price)}"></div>
                        <div class="text-muted" th:text="${item.publisher}"></div>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="#" class="text-muted">
                        <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                             height="24"
                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                             fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                          <path
                              d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path>
                        </svg>
                        467
                      </a>
                      <a href="#" class="ms-3 text-muted">
                        <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                             height="24"
                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                             fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path
                              d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                        </svg>
                        67
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </th:block>
          </div>
        </th:block>
        <!--          구독 상품 자식 상품 종료-->

        <button class="btn btn-outline-primary" onclick="history.back()">뒤로가기</button>
      </div>
    </div>
  </div>
  </div>
</th:block>
<!---->
</html>