<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default}">
<head>
  <title th:text="${product.info.title}"></title>
</head>
<!---->
<th:block layout:fragment="content">

  <div class="container-xl">
    <div class="card card-lg">
      <div class="card-body">
        <div class="row">

          <div class="col-4">
            <!--            -->
            <img th:src="@{/storage/{objectFileId} (objectFileId = ${product.info.objectFileId})}"/>

            <!--          -->
          </div>
          <div class="col-8 text-left">
            <p class="h3" th:text="${product.info.title}"></p>
            <p class="h4" th:utext="${product.info.shortDescription}"></p>


            <p th:if="${!product.info.selling}" class="btn btn-danger w-5 h-2">품절</p>
            <p class="mt-4" style="line-height: 5px">
              <span class="badge bg-azure">저자</span>
              <span th:unless="${product.authors == null}"
                    th:text="${#strings.arrayJoin(product.getAuthorNameList(), ', ')}"></span>
            </p>

            <th:block th:unless="${product.detail} == null">

              <p style="line-height: 5px">
                <span class="text-success">출판사</span>
                <span th:text="${product.detail.publisher}"></span>
              </p>

              <p style="line-height: 5px">
                <span class="text-success">출판일</span>
                <span th:text="${product.detail.publishedDate}"></span>
              </p>

              <p style="line-height: 5px">
                <span class="text-success">pages</span>
                <span th:text="${product.detail.page}"></span>
              </p>

              <p style="line-height: 5px">
                <span class="text-success">ISBN</span>
                <span th:text="${product.detail.isbn}"></span>
              </p>

            </th:block>

            <th:block th:unless="${product.subscribe} == null">

              <p style="line-height: 5px">
                <span class="text-success">출판사</span>
                <span th:text="${product.subscribe.publisher}"></span>
              </p>

            </th:block>

            <hr/>

            <p style="line-height: 5px">
              <th:block th:if="${product.info.pointMethod}">
                <span class="text-info">적립률</span>
                <span th:text="${product.info.pointRate}"></span>
                <span>%</span>
              </th:block>
              <th:block th:if="${!product.info.pointMethod}">
                <span class="text-info">미적립 상품</span>
              </th:block>
            </p>

            <p style="line-height: 5px">
              <span class="text-info">태그</span>
              <span th:unless="${product.tags == null}"
                    th:text="${#strings.arrayJoin(product.getTagList(), ', ')}"></span>
            </p>

            <p style="line-height: 5px">
              <span class="text-info">가격</span>
              <span th:text="${#numbers.formatCurrency(product.info.price)}"></span>
            </p>

          </div>

          <div class="col-12 my-4">
            <h1>관련 분류</h1>

            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><span>국내도서</span></li>
              <li class="list-inline-item"><span class="text-blue">소설</span></li>
            </ul>

            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><span>국내도서</span></li>
              <li class="list-inline-item"><span class="text-blue">소설</span></li>
            </ul>

            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><span>국내도서</span></li>
              <li class="list-inline-item"><span class="text-blue">소설</span></li>
            </ul>
          </div>

          <!--          연관상품 시작-->
          <div class="row row-cards">
            <div class="card-header">
              <h1>연관 상품</h1>
            </div>
            <th:block th:each="item : ${recommendProducts}">
              <div class="col-sm-4 col-lg-2">
                <div class="card card-sm">
                  <a th:href="@{/product/view/{productId} (productId = ${item.productId})}"
                     class="d-block">
                    <div class="text-center">
                      <img class="product-img"
                           style="max-height: 413px; width: 95%; margin-top:10px; overflow: auto;"
                           th:src="@{/storage/{objectFileId} (objectFileId = ${item.objectFileId})}"/>
                    </div>
                  </a>
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div>
                        <div><a th:text="${item.title}"
                                th:href="@{/product/view/{productId} (productId = ${item.productId})}"></a>
                        </div>
                        <div class="text-muted">
                          <th:block th:each="author : ${item.authors}">
                            <span th:text="${author.name}"/>
                          </th:block>
                        </div>
                        <div class="text-muted"
                             th:text="${#numbers.formatCurrency(item.price)}"></div>
                        <div class="text-muted" th:text="${item.publisher}"></div>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="#" class="text-muted">
                        <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                          <path
                              d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path>
                        </svg>
                        467
                      </a>
                      <a href="#" class="ms-3 text-muted">
                        <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path
                              d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                        </svg>
                        67
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </th:block>
          </div>
          <!--          연관상품 종료-->

          <!--/* 책 소개 */-->
          <div class="col-12 my-4">
            <h1>책 소개</h1>
            <p th:utext="${product.info.longDescription}"></p>
          </div>
          <!--/* 책 소개 */-->

          <!--          구독 상품 자식 상품 시작-->
          <th:block th:if="${product.subscribe != null}">
            <div class="row row-cards">
              <div class="card-header">
                <h1>구독 하위 상품</h1>
              </div>
              <th:block th:each="item : ${booksAtSubscribe}">
                <div class="col-sm-4 col-lg-2">
                  <div class="card card-sm">
                    <a th:href="@{/product/view/{productId} (productId = ${item.productId})}"
                       class="d-block">
                      <div class="text-center" style="width:auto; min-height:200px; margin: auto;">
                        <img class="product-img"
                             style="max-height: 413px; width: 95%; margin-top:10px;"
                             th:src="@{/storage/{objectFileId} (objectFileId = ${item.objectFileId})}"/>
                      </div>
                    </a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <div>
                          <div>
                            <a th:text="${item.title}"
                               th:href="@{/product/view/{productId} (productId = ${item.productId})}"></a>
                          </div>
                          <div class="text-muted">
                            <th:block th:each="author : ${item.authors}">
                              <span th:text="${author.name}"/>
                            </th:block>
                          </div>
                          <div class="text-muted"
                               th:text="${#numbers.formatCurrency(item.price)}"></div>
                          <div class="text-muted" th:text="${item.publisher}"></div>
                        </div>
                      </div>
                      <div class="ms-auto">
                        <a href="#" class="text-muted">
                          <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                               height="24"
                               viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                               fill="none"
                               stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                            <path
                                d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path>
                          </svg>
                          467
                        </a>
                        <a href="#" class="ms-3 text-muted">
                          <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                               height="24"
                               viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                               fill="none"
                               stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path
                                d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                          </svg>
                          67
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
              </th:block>
            </div>
          </th:block>
          <!--          구독 상품 자식 상품 종료-->

        </div>

      </div>
    </div>
  </div>
</th:block>
<!---->
</html>