<th:block th:fragment="search_box" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <form action="/search" method="post" class="row col-auto">
        <div class="col-auto p-1">
            <select type="text" name="classification" class="form-select" placeholder="검색 분류를 선택해주세요" id="select-tags-advanced" required>
                <option value="keywords" selected>키워드</option>
                <option value="category">카테고리</option>
                <option value="tag">태그</option>
                <option value="author">작가</option>
            </select>
        </div>

        <div class="col-auto p-1 mr-1">
            <div class="input-icon">
                  <span class="input-icon-addon">
                    <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                  </span>
                <input type="text" name="keywords" class="form-control" placeholder="Search…" aria-label="Search in website" required>
            </div>
        </div>
    </form>

</th:block>


