<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/html"
      layout:decorate="~{thymeleaf/layout/default}">
<head>
    <title>Coupon Zone</title>
    <script>
        async function issueCoupon(couponId) {
            // const url = document.querySelector('#url').value;
            const requestUrl = `/coupon-zone/${couponId}`;
            const loading = document.querySelector('#loading');

            console.log("여기까지는 ok")
            const response = await fetch(requestUrl);
                console.log("fetch ok")

            if (response.ok) { // 응답 코드 200~299 일 때
                console.log("response ok")
                // 여기서 에러나는 것 같음.
                const parsedResponse = await response.json();
                console.log(parsedResponse.requestId);
                const requestId = parsedResponse.requestId;

                const responseUrl = '/coupon-zone/member/response/' + requestId;
                let timerId = setInterval(async () => {
                    const reResponse = await fetch(responseUrl);
                    console.log("try try~~")
                    if (reResponse.ok) {
                        const realResponse = await reResponse.json();
                        console.log(realResponse.message);
                        alert(realResponse.message)
                        loading.style.display = 'none'
                        clearTimeout(timerId);
                    }
                }, 1500);

                setTimeout(() => { clearInterval(timerId); alert('다시 시도해주세요...'); }, 6000);
                loading.style.display = 'none'
            }
            else {
                const parsedResponse = await response.json();
                loading.style.display = 'none';
                console.log(parsedResponse.message);
                alert(parsedResponse.message);
            }
        }
    </script>
</head>
<!--/* */-->
<th:block layout:fragment="content">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card card-md">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="h3">쿠폰 존</h2>
                                <p class="m-0 text-muted">현재 발급 받을 수 있는 쿠폰들을 확인할 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="text-uppercase text-muted h1">이달의 쿠폰</div>
            <th:block th:each="item : ${limitedList}">
                <div class="col-sm-6 col-lg-3" >
                    <div class="card card-md">
                        <div class="card-body text-center" >
                            <span th:if="${item.fileId != null}">
                                <img class="product-img"
                                     style="height: 100%; width: 100%; margin-top:10px;"
                                     th:src="@{/storage/{objectFileId} (objectFileId = ${item.fileId})}"/>
                                <p class="fw-bold my-3" th:text="${item.name}"></p>
                             </span>
                            <span th:if="${item.fileId == null}">
                                <p class="display-5 fw-bold my-3" th:text="${item.name}"></p>
                            </span>
                            <ul class="list-unstyled lh-lg">
                                <li>
                                    <span th:text="${item.description}"></span>
                                </li>
                                <li>
                                    <span th:text="${#temporals.format(item.openedAt,'yyyy-MM-dd')}"></span>
                                </li>
                                <li>
                                    <span th:text="${#temporals.format(item.issuanceDeadlineAt,'yyyy-MM-dd HH:mm:ss')}"></span>
                                </li>
                            </ul>
                            <div class="text-center mt-4">
                                <a th:name="${item.couponId}" class="issue-btn btn btn-green w-100">발급 받기</a>
                            </div>
                        </div>
                    </div>
                </div>

            </th:block>

            <div class="text-uppercase text-muted h1">등급별 쿠폰</div>
            <th:block th:each="item : ${gradedList}">
                <div class="col-sm-6 col-lg-3" >
                    <div class="card card-md">
                        <div class="card-body text-center" >
                            <span th:if="${item.fileId != null}">
                                <img class="product-img"
                                     style="height: 100%; width: 100%; margin-top:10px;"
                                     th:src="@{/storage/{objectFileId} (objectFileId = ${item.fileId})}"/>
                                <p class="fw-bold my-3" th:text="${item.name}"></p>
                             </span>
                            <span th:if="${item.fileId == null}">
                                <p class="display-5 fw-bold my-3" th:text="${item.name}"></p>
                            </span>
                            <ul class="list-unstyled">
                                <li>
                                    <span th:text="${item.description}"></span>
                                </li>
                                <li>
                                    <strong th:text="${#temporals.format(item.issuanceDeadlineAt,'yyyy-MM-dd HH:mm:ss')}+'까지 발급'"></strong>
                                </li>
                            </ul>
                            <div class="text-center mt-4">
                                <a th:name="${item.couponId}" class="issue-btn btn btn-green w-100">발급 받기</a>
                            </div>
                        </div>
                    </div>
                </div>

            </th:block>

            <div class="text-uppercase text-muted h1">무제한 쿠폰</div>
            <th:block th:each="item : ${unlimitedList}">
                <div class="col-sm-6 col-lg-3" >
                    <div class="card card-md">
                        <div class="card-body text-center" >
                            <span th:if="${item.fileId != null}">
                                <img class="product-img"
                                     style="height: 100%; width: 100%; margin-top:10px;"
                                     th:src="@{/storage/{objectFileId} (objectFileId = ${item.fileId})}"/>
                                <p class="fw-bold my-3" th:text="${item.name}"></p>
                             </span>
                            <span th:if="${item.fileId == null}">
                                <p class="display-5 fw-bold my-3" th:text="${item.name}"></p>
                            </span>
                            <ul class="list-unstyled lh-lg">
                                <li>
                                    <span th:text="${item.description}"></span>
                                </li>
                                <li>
                                    <span th:text="${#temporals.format(item.openedAt,'yyyy-MM-dd')}"></span>
                                </li>
                                <li>
                                    <span th:text="${#temporals.format(item.issuanceDeadlineAt,'yyyy-MM-dd HH:mm:ss')}"></span>
                                </li>
                            </ul>
                            <div class="text-center mt-4">
                                <a th:name="${item.couponId}" class="issue-btn btn btn-green w-100">발급 받기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <div id="loading" class="justify-content-center align-items-center" style="height: 100%; width: 100%; position: absolute; background-color: #FFFFFF88; top: 0; left: 0; display: none">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <input type="hidden" id="url" th:value="${url}">
    <script>
        const issueBtn = document.querySelectorAll('.issue-btn');
        const loading = document.querySelector('#loading');

        issueBtn.forEach(btn => {
            btn.addEventListener('click', function(event) {
                let id = event.target.name;
                loading.style.display = 'flex';
                issueCoupon(id);
            })
        })

        // issueBtn.forEach(btn => {
        //     btn.addEventListener('click', issueCoupon);
        // })

    </script>
</th:block>
</html>
