<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/html"
      layout:decorate="~{thymeleaf/layout/default}">
<head>
    <title>Coupon Zone</title>
    <script src="/js/coupon/couponIssue.js"></script>
</head>
<th:block layout:fragment="content">

    <ul class="nav nav-bordered mb-4">
        <li class="nav-item">
            <a class="nav-link active" href="/coupon-zone"><h2>이달의 쿠폰</h2></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/coupon-zone/no-limit"><h2>등급 · 무제한 쿠폰</h2></a>
        </li>
    </ul>

    <div class="container-xl text-center">
        <div class="row row-cards">
            <th:block th:each="item : ${limitedList}">
                <div class="col-sm-6 col-lg-3">
                    <div class="card card-md">
                        <div class="card-body text-center" >
                            <span th:if="${item.fileId != null}">
                                <img class="product-img"
                                     style="height: 100%; width: 100%; margin-top:10px;"
                                     th:src="@{/storage/{objectFileId} (objectFileId = ${item.fileId})}"/>
                                <h3 class="fw-bold my-3" th:text="${item.name}"></h3>
                             </span>
                            <span th:if="${item.fileId == null}">
                                <p class="display-5 fw-bold my-3" th:text="${item.name}"></p>
                            </span>
                            <ul class="list-unstyled lh-lg">
                                <li>
                                    <span th:text="${item.description}"></span>
                                </li>
                                <li>
                                    <strong class="text-muted" th:text="${#temporals.format(item.openedAt,'MM-dd HH:mm:ss')} + '부터 발급 가능'"></strong>
                                </li>
                            </ul>
                            <div class="text-center mt-4">
                                <a th:name="${item.couponId}" class="issue-btn btn btn-green w-100">발급 받기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
    <div id="loading" class="justify-content-center align-items-center" style="height: 100%; width: 100%; position: absolute; background-color: #FFFFFF88; top: 0; left: 0; display: none">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <input type="hidden" id="url" th:value="${url}">
    <script>
        const issueBtn = document.querySelectorAll('.issue-btn');
        const loading = document.querySelector('#loading');

        issueBtn.forEach(btn => {
            btn.addEventListener('click', function(event) {
                issueCoupon(event.target.name);
                loading.style.display = 'flex';
            })
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</th:block>
</html>
