<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default}">
<head>
    <title>BOOKLAY MAIN</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/mainCarousel.js"></script>
</head>

<th:block layout:fragment="content">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="page-header">
                <h1> 북레이가 추천하는 이달의 도서 </h1>
            </div><hr>

            <div class="container">
                <div class="slider">
                    <div class="owl-carousel">
                        <th:block th:each="item : ${productList}">
                        <div class="slider-card">
                                <div class="d-flex justify-content-center align-items-center mb-0">
                                <a th:href="@{/product/view/{productId} (productId = ${item.id})}" class="d-block">
                                    <div class="text-center" style="width:auto; min-height:400px; margin: auto; display:flex; align-items: center;">
                                        <img class="product-img" style="max-height: 413px; width: 95%; margin:auto;" th:src="@{/storage/{thumbnail} (thumbnail = ${item.thumbnail})}"/>
                                    </div>
                                </a>
                                </div>
                            <span>
                                <div>&nbsp; <a th:text="${item.title}" th:href="@{/product/view/{productId} (productId = ${item.id})}" ></a></div>
                                <div th:if ="${#arrays.isEmpty(item.authors)}">
                                    <span class="text-muted"> 저자가 등록되지 않은 상품 </span>
                                </div>
                                &nbsp;<span th:each=" author : ${item.authors}">
                                    <a th:href="@{/search/products(classification = 'authors', id = ${author.id})}" th:text="${author.name}"></a>
                                </span><br/>
                                &nbsp;&nbsp;<span class="text-muted" th:text="${item.publisher}"></span>
                                <div class="text-muted text-end" th:text="${#numbers.formatCurrency(item.price)}"></div>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                            </span>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>

            <div th:if="${#arrays.isEmpty(productList)}" class="card-body">
                <div class="d-flex align-items-center">
                    <h3> 조회 가능한 상품이 존재하지 않습니다. </h3>
                </div>
            </div>

            <div class="card-header">
                <h1> 최근 등록된 신간 </h1>
            </div>
            <!--     반복 -->
            <th:block th:each="item : ${productList}">
                <div class="col-sm-5 col-lg-3">
                    <div class="card card-sm">
                        <a th:href="@{/product/view/{productId} (productId = ${item.id})}" class="d-block">
                            <div class="text-center" style="width:auto; min-height:400px; margin: auto; display:flex; align-items: center;">
                                <img class="product-img" style="max-height: 413px; width: 95%; margin:auto;" th:src="@{/storage/{thumbnail} (thumbnail = ${item.thumbnail})}"/>
                            </div>
                        </a>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div><a th:text="${item.title}" th:href="@{/product/view/{productId} (productId = ${item.id})}" ></a></div>
                                    <div th:if ="${#arrays.isEmpty(item.authors)}">
                                        <span class="text-muted"> 저자가 등록되지 않은 상품 </span>
                                    </div>
                                    <div th:each=" author : ${item.authors}">
                                        <a th:href="@{/search/products(classification = 'authors', id = ${author.id})}" th:text="${author.name}"></a>
                                    </div>
                                    <div class="text-muted" th:text="${#numbers.formatCurrency(item.price)}"></div>
                                    <div class="text-muted" th:text="${item.publisher}"></div>
                                </div>
                            </div>
                            <div class="ms-auto">
                                <a href="#" class="text-muted">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path></svg>
                                    467
                                </a>
                                <a href="#" class="ms-3 text-muted">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path></svg>
                                    67
                                </a>
                                <span th:if="${!item.selling}" class="btn btn-danger w-5 h-2">품절</span>
                            </div>

                        </div>
                    </div>
                </div>
            </th:block>
            <!--     반복-->

        </div>
    </div>

    <div class="align-items-center">
        <th:block th:replace="thymeleaf/fragments/pagination :: pagination">
        </th:block>
    </div>

</th:block>

</html>
