.wrapper{
    height: 50vh;
}

.card{
    position: relative;
    background-color: #1C4D8C;
    padding: 10px;
    height: 330px;
    width: 330px;
    border:none;
}

.content{
    z-index: 10;
}

.logo{
    margin-bottom: 50px;
}


.off{
    line-height: 0px;
}

.off h1{
    font-size: 60px;
}

.plus{
    font-size: 23px;
}

.code{
    text-transform: uppercase;
    padding: 10px;
    background-color: #fff;
    color: red;
    font-size: 15px;
}

.cross-bg{
    height: 100%;
    width: 100%;
    position: absolute;

    background-color: #0D65D9;

    left: 0px;
    top: 0px;
    opacity: 0.4;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    z-index:1;
}