<!DOCTYPE html>
<html lang="ko">
<head>
    <title>쿠폰 선택</title>
    <script src="/js/coupon/couponPopup.js"></script>
    <script src="/js/popup/popupSetting.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="/plugins/tabler/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/demo.min.css" rel="stylesheet"/>
</head>

<body>

<h2>쿠폰 선택</h2>
<th:block th:if="${not #strings.isEmpty(targetId)}">
    <span style="display: none" id="targetId" th:text="${targetId}"></span>
    <span style="display: none" id="productNo" th:text="${productNo}"></span>
    <span style="display: none" id="isDuplicable" th:text="${isDuplicable}"></span>
</th:block>
<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div th:if="${#lists.isEmpty(list)}">
        <div class="card-table table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <td>번호</td>
                <td>쿠폰 ID</td>
                <td>쿠폰 이름</td>
                <td>쿠폰 타입</td>
                <td>할인량</td>
                <td>최소사용금액</td>
                <td>최대할인금액</td>
                <td></td>
            </tr>
            </thead>
        </table>
        </div>
    </div>
    <div class="card" th:unless="${#lists.isEmpty(list)}">
        <div class="card-table table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                <tr>
                    <td>번호</td>
                    <td>쿠폰 ID</td>
                    <td>쿠폰 이름</td>
                    <td>쿠폰 타입</td>
                    <td>할인량</td>
                    <td>최소사용금액</td>
                    <td>최대할인금액</td>
                    <td></td>
                </tr>
                </thead>

                <tbody id="couponTableBody">
                <tr th:each="coupon, couponStat :${list}" th:name="${coupon.couponCode}" th:id="${coupon.id}">
                    <td><p th:text="${couponStat.count}"></p></td>
                    <td><p th:text="${coupon.id}"></p></td>
                    <td><p th:text="${coupon.name}"></p></td>
                    <td><p th:text="${coupon.typeName}"></p></td>
                    <td><p th:text="${coupon.amount}"></p></td>
                    <td><p th:text="${coupon.minimumUseAmount}" th:id="${coupon.id+'minimum'}"></p></td>
                    <td><p th:text="${coupon.maximumDiscountAmount}"></p></td>
                    <td><input class="btn btn-primary" type="button" value="선택" th:id="${coupon.couponCode}"></td>
                </tr>
                </tbody>
            </table>
            <th:block th:replace="thymeleaf/fragments/pagination :: pagination"></th:block>
        </div>
    </div>
</div>
</body>
</html>
