<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Member Create Form</title>
</head>
<body>
<h3>회원가입</h3><br>
<div>
    <form action="/members/register" method="post" name="memberCreateRequest">
        <span><b>이름</b>: <input type="text" name="name"></span><br>
        <span><b>아이디</b>: <input type="text" name="memberId"></span><br>
        <span><b>비밀번호</b>: <input type="password" name="password"></span><br>
        <span><b>닉네임</b>: <input type="text" name="nickname"></span><br>
        <span><b>성별</b>: <input type='radio' name='gender' value='F'>여성
            <input type='radio' name='gender' value='M'>남성 <br></span>
        <span><b>생년월일</b>: <input type="date" name="birthday"></span><br>
        <span><b>전화번호</b>: <input type="text" name="phoneNo" placeholder="01012345678"></span><br>
        <span><b>이메일 주소</b>: <input type="email" name="email"></span><br>
        <input type="submit" value="submit"/>
    </form>
</div>
</body>
</html>