<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default}">
<head>
    <title>북레이 - 회원가입</title>

    <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('datepicker-icon'),
                buttonText: {
                    previousMonth: '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>',
                    nextMonth: '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>'
                },
            }));
        });
        // @formatter:on
    </script>
</head>
<th:block layout:fragment="content">
    <div class="card container container-tight py-4">
        <div class="card-header">
            <h1>회원가입</h1>
        </div>
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Create new account</h2>
            <form th:action="@{/member/register}" method="post">

                <div class="mb-3">
                    <label class="form-label required">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter name" required>
                </div>

                <div class="mb-3">
                    <label class="form-label required">ID</label>
                    <input type="text" id="member-id" name="memberId" class="form-control"
                           placeholder="영문자+숫자 포함 5~30자리"
                           required>
                    <div id="id_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">Password</label>
                    <div class="input-group input-group-flat">
                        <input type="password" id="pwd" name="password" class="form-control"
                               placeholder="영문자+숫자+특수문자 포함 8~25자리"
                               autocomplete="off" required>
                        <span class="input-group-text">
                      <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="Show password"
                         data-bs-original-title="Show password"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                                d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
                                d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path></svg>
                      </a>
                    </span>
                    </div>
                    <div id="pwd_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">Check Password</label>
                    <div class="input-group input-group-flat">
                        <input type="password" id="check-pwd" name="checkPassword" class="form-control"
                               placeholder="비밀번호 확인"
                               autocomplete="off" required>
                        <span class="input-group-text">
                    </span>
                    </div>
                    <div id="checkPwd_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">NickName</label>
                    <input type="text" id="nick-name" name="nickname" class="form-control" placeholder="Enter NickName"
                           required>
                    <div id="nickName_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="M">
                        <span class="form-check-label">남성</span>
                    </label>
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="F">
                        <span class="form-check-label">여성</span>
                    </label>
                </div>

                <div class="mb-3">
                    <label class="form-label required">생일</label>
                    <div class="input-icon mb-2">
                        <input class="form-control" name="birthday" placeholder="Select a date" id="datepicker-icon"
                               required>
                        <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round"><path stroke="none"
                                                                                              d="M0 0h24v24H0z"
                                                                                              fill="none"></path><path
                                            d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path><path
                                            d="M16 3l0 4"></path><path d="M8 3l0 4"></path><path d="M4 11l16 0"></path><path
                                            d="M11 15l1 0"></path><path d="M12 15l0 3"></path></svg>
                                  </span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">전화번호</label>
                    <input type="number" id="phone_no" name="phoneNo" class="form-control" placeholder="01012345678"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label required">이메일</label>
                    <input type="email" id="e-mail" name="email" class="form-control" placeholder="Enter email"
                           required>
                    <div id="email_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input" required>
                        <span class="form-check-label"><a href="#" tabindex="-1">개인정보 제공 약관</a>에 동의합니다.</span>
                    </label>
                </div>


                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Create new account</button>
                </div>

            </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#member-id").focusout(function () {
                const memberId = document.querySelector('#member-id').value;

                if (memberId.length == 0) {
                    $('#id_div').html('<a style="color: red;">아이디를 입력하세요.</a>');
                    document.querySelector('#member-id').focus();
                    return false;
                }

                if (memberId.length < 5) {
                    $('#id_div').html('<a style="color: red;">아이디는 5글자 이상 영문+숫자 조합으로 입력하세요.</a>');
                    document.querySelector('#member-id').focus();
                    return false;
                }

                //중복검사
                $.ajax({
                    type: "POST",
                    url: `/member/exist/${memberId}`, /// url
                    success: function (data) {
                        if (data == true) {
                            $('#id_div').html('<a style="color: red;">이미 존재하는 ID입니다.</a>');
                            document.querySelector('#member-id').focus();
                        } else {
                            $('#id_div').html('<a style="color: green;">사용가능한 ID입니다.</a>');
                        }
                    },
                    error: function () {
                        alert("통신 오류");
                    }
                });

            });//focusout()
        }); // ready()
    </script>
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#pwd").focusout(function () {
                const pwd = document.querySelector('#pwd').value;

                if (pwd.length == 0) {
                    $('#pwd_div').html('<a style="color: red;">비밀번호를 입력하세요.</a>');
                    document.querySelector('#pwd').focus();
                    return false;
                }

            });//focusout()
        }); // ready()
    </script>

    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#nick-name").focusout(function () {
                const nickName = document.querySelector('#nick-name').value;

                if (nickName == '') {
                    $('#nickName_div').html('<a style="color: red;">닉네임을 입력하세요.</a>');
                    document.querySelector('#nick-name').focus();
                    return false;
                }
                ;

                //중복검사
                $.ajax({
                    type: "POST",
                    url: `/member/exist/nickName/${nickName}`, /// url
                    success: function (data) {
                        if (data == true) {
                            $('#nickName_div').html('<a style="color: red;">이미 존재하는 닉네임입니다.</a>');
                        } else {
                            $('#nickName_div').html('<a style="color: green;">사용가능한 닉네임입니다.</a>');
                        }
                    },
                    error: function () {
                        alert("통신 오류");
                    }
                });

            });//focusout()
        }); // ready()
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#e-mail").focusout(function () {
                const EMail = document.querySelector('#e-mail').value;

                if (EMail.length == 0) {
                    $('#id_div').html('<a style="color: red;">이메일을 입력하세요.</a>');
                    document.querySelector('#e-mail').focus();
                    return false;
                }

                //중복검사
                $.ajax({
                    type: "POST",
                    url: `/member/exist/eMail/${EMail}`, /// url
                    success: function (data) {
                        if (data == true) {
                            $('#email_div').html('<a style="color: red;">이미 존재하는 이메일입니다.</a>');
                        } else {
                            $('#email_div').html('<a style="color: green;">사용가능한 이메일입니다.</a>');
                        }
                    },
                    error: function () {
                        alert("통신 오류");
                    }
                });

            });//focusout()
        }); // ready()
    </script>

</th:block>
</html>
