<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default}">
<head>
    <title>북레이 - 회원가입</title>
    <script src="/js/login.js"></script>

    <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.Litepicker && (new Litepicker({
                element: document.getElementById('datepicker-icon'),
                buttonText: {
                    previousMonth: '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>',
                    nextMonth: '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>'
                },
            }));
        });
        // @formatter:on
    </script>
</head>
<th:block layout:fragment="content">
    <div class="card container container-tight py-4">
        <div class="card-header">
            <h1>회원가입</h1>
        </div>
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Create new account</h2>
            <form th:action="@{/member/register}" method="post">

                <div class="mb-3">
                    <label class="form-label required">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Enter name" required>
                    <div id="name_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">ID</label>
                    <input type="text" id="member-id" name="memberId" class="form-control"
                           placeholder="5~30자리 이내로 입력"
                           required>
                    <div id="id_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">Password</label>
                    <div class="input-group input-group-flat">
                        <input type="password" id="pwd" name="password" class="form-control"
                               placeholder="영문자+숫자+특수문자 포함 8~25자리"
                               autocomplete="off" required>
                        <span class="input-group-text">
                            <a class="link-secondary" title="Show password" data-bs-toggle="tooltip"
                               onclick="showPasswordRegister()"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                      fill="none"/><circle cx="12"
                                                                                                           cy="12"
                                                                                                           r="2"/><path
                                    d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"/></svg>
                          </a>
                    </span>
                    </div>
                    <div id="pwd_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">Check Password</label>
                    <div class="input-group input-group-flat">
                        <input type="password" id="check-pwd" name="checkPassword" class="form-control"
                               placeholder="비밀번호 확인"
                               autocomplete="off" required>
                        <span class="input-group-text">
                    </span>
                    </div>
                    <div id="checkPwd_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">NickName</label>
                    <input type="text" id="nick-name" name="nickname" class="form-control" placeholder="Enter NickName"
                           required>
                    <div id="nickName_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="M">
                        <span class="form-check-label">남성</span>
                    </label>
                    <label class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" value="F">
                        <span class="form-check-label">여성</span>
                    </label>
                </div>

                <div class="mb-3">
                    <label class="form-label required">생일</label>
                    <div class="input-icon mb-2">
                        <input class="form-control" name="birthday" placeholder="Select a date" id="datepicker-icon"
                               required>
                        <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round"><path stroke="none"
                                                                                              d="M0 0h24v24H0z"
                                                                                              fill="none"></path><path
                                            d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path><path
                                            d="M16 3l0 4"></path><path d="M8 3l0 4"></path><path d="M4 11l16 0"></path><path
                                            d="M11 15l1 0"></path><path d="M12 15l0 3"></path></svg>
                                  </span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">전화번호</label>
                    <input type="number" id="phone_no" name="phoneNo" class="form-control" placeholder="01012345678"
                           required>
                    <div id="phone_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-label required">이메일</label>
                    <input type="email" id="e-mail" name="email" class="form-control" placeholder="Enter email"
                           required>
                    <div id="email_div"></div>
                </div>

                <div class="mb-3">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input" required>
                        <span class="form-check-label"><a href="#" tabindex="-1">개인정보 제공 약관</a>에 동의합니다.</span>
                    </label>
                </div>


                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Create new account</button>
                </div>

            </form>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#name").focusout(function () {
                const name = document.querySelector('#name').value;

                if (name.length == 0 || name == '') {
                    document.getElementById('name').setCustomValidity('이름 입력');
                    $('#name_div').html('<a style="color: red;">이름을 입력하세요.</a>');
                    return false;
                } else {
                    document.getElementById('name').setCustomValidity('');
                    $('#name_div').html('<a></a>');
                }
            });//focusout()
        }); // ready()
    </script>


    <script>
        $(document).ready(function () {
            $("#member-id").focusout(function () {
                const memberId = document.querySelector('#member-id').value;

                if (memberId.length == 0 || memberId == '') {
                    document.getElementById('member-id').setCustomValidity('아이디 입력');
                    $('#id_div').html('<a style="color: red;">아이디를 입력하세요.</a>');
                    return false;
                }

                // 조합 체크
                // const idCheckValue = /^(?=.*[a-zA-Z])(?=.*[0-9]).{5,30}$/;

                if (memberId.length < 5 || memberId.length > 30) {
                    document.getElementById('member-id').setCustomValidity('아이디는 5~30자 이내 입력');
                    $('#id_div').html('<a style="color: red;">아이디는 5~30자 이내로 입력하세요.</a>');
                    return false;
                }

                //중복검사
                $.ajax({
                    type: "POST",
                    url: `/member/exist/${memberId}`, /// url
                    success: function (data) {
                        if (data == true) {
                            document.getElementById('member-id').setCustomValidity('아이디 중복');
                            $('#id_div').html('<a style="color: red;">이미 존재하는 ID입니다.</a>');
                        } else {
                            document.getElementById('member-id').setCustomValidity('');
                            $('#id_div').html('<a style="color: green;">사용가능한 ID입니다.</a>');
                        }
                    },
                    error: function () {
                        alert("통신 오류");
                    }
                });

            });//focusout()
        }); // ready()
    </script>

    <script>
        $(document).ready(function () {
            $("#pwd").focusout(function () {
                const pwd = document.querySelector('#pwd').value;

                if (pwd.length == 0 || pwd  == '') {
                    $('#pwd_div').html('<a style="color: red;">비밀번호를 입력하세요.</a>');
                    document.getElementById('pwd').setCustomValidity('비밀번호 입력');
                    return false;
                }

                const pwdCheckValue = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;
                if(!pwdCheckValue.test(pwd)) {
                    document.getElementById('pwd').setCustomValidity('비밀번호 형식 오류');
                    $('#pwd_div').html('<a style="color: red;">비밀번호는 영문자+숫자+특수문자 포함 8~25자리이여야 합니다.</a>');
                    return false;
                }

                else {
                    document.getElementById('pwd').setCustomValidity('');
                    $('#pwd_div').html('<a style="color: green;">사용가능한 비밀번호입니다.</a>');
                }

            });//focusout()
        }); // ready()
    </script>


    <script>
        $(document).ready(function () {
            $("#check-pwd").focusout(function () {
                const checkPwd = document.querySelector('#check-pwd').value;

                if (checkPwd.length == 0 || checkPwd == '') {
                    document.getElementById('check-pwd').setCustomValidity('비밀번호 확인 입력');
                    $('#checkPwd_div').html('<a style="color: red;">비밀번호를 한 번 더 입력해주세요.</a>');
                    return false;
                }

                if(document.querySelector('#pwd').value != checkPwd) {
                    document.getElementById('check-pwd').setCustomValidity('비밀번호 불일치');
                    $('#checkPwd_div').html('<a style="color: red;">비밀번호가 일치하지 않습니다.</a>');
                    return false;
                }

                else {
                    document.getElementById('check-pwd').setCustomValidity('');
                    $('#checkPwd_div').html('<a style="color: green;">비밀번호 인증 성공</a>');
                }

            });//focusout()
        }); // ready()
    </script>

    <script>
        $(document).ready(function () {
            $("#nick-name").focusout(function () {
                const nickName = document.querySelector('#nick-name').value;

                if (nickName == '' || nickName.length == 0) {
                    document.getElementById('nick-name').setCustomValidity('닉네임 입력');
                    $('#nickName_div').html('<a style="color: red;">닉네임을 입력하세요.</a>');
                    return false;
                }
                ;

                //중복검사
                $.ajax({
                    type: "POST",
                    url: `/member/exist/nickName/${nickName}`, /// url
                    success: function (data) {
                        if (data == true) {
                            document.getElementById('nick-name').setCustomValidity('닉네임 중복');
                            $('#nickName_div').html('<a style="color: red;">이미 존재하는 닉네임입니다.</a>');
                        } else {
                            document.getElementById('nick-name').setCustomValidity('');
                            $('#nickName_div').html('<a style="color: green;">사용가능한 닉네임입니다.</a>');
                        }
                    },
                    error: function () {
                        alert("통신 오류");
                    }
                });

            });//focusout()
        }); // ready()
    </script>

    <script>
        $(document).ready(function () {
            $("#phone_no").focusout(function () {
                const phoneNo = document.querySelector('#phone_no').value;

                if (phoneNo.length == 0 || phoneNo == '') {
                    document.getElementById('phone_no').setCustomValidity('전화번호 입력');
                    $('#phone_div').html('<a style="color: red;">전화번호를 입력해주세요.</a>');
                    return false;
                }

                const phoneNoCheck = /^[0-9]+/g;
                if (!phoneNoCheck.test(phoneNo)) {
                    document.getElementById('phone_no').setCustomValidity('숫자만 입력');
                    $('#phone_div').html('<a style="color: red;">전화번호는 숫자만 입력할 수 있습니다.</a>');
                    return false;
                } else {
                    document.getElementById('phone_no').setCustomValidity('');
                    $('#phone_div').html('<a style="color: green;">사용가능한 전화번호입니다.</a>');
                    return false;
                }

            });//focusout()
        }); // ready()
    </script>

    <script>
        $(document).ready(function () {
            $("#e-mail").focusout(function () {
                const EMail = document.querySelector('#e-mail').value;

                if (EMail.length == 0 || EMail == '') {
                    document.getElementById('e-mail').setCustomValidity('이메일 입력');
                    $('#email_div').html('<a style="color: red;">이메일을 입력하세요.</a>');
                    return false;
                }

                const valid_email = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
                if (!valid_email.test(EMail)) {
                    document.getElementById('e-mail').setCustomValidity('이메일 형식으로 입력');
                    $('#email_div').html('<a style="color: red;">이메일 형식에 맞게 입력하세요.</a>');
                    return false;
                }

                //중복검사
                $.ajax({
                    type: "POST",
                    url: `/member/exist/eMail/${EMail}`, /// url
                    success: function (data) {
                        if (data == true) {
                            document.getElementById('e-mail').setCustomValidity('이메일 중복');
                            $('#email_div').html('<a style="color: red;">이미 존재하는 이메일입니다.</a>');
                        } else {
                            document.getElementById('e-mail').setCustomValidity('');
                            $('#email_div').html('<a style="color: green;">사용가능한 이메일입니다.</a>');
                        }
                    },
                    error: function () {
                        alert("통신 오류");
                    }
                });

            });//focusout()
        }); // ready()
    </script>

</th:block>
</html>
