<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/admin}">
<head>
    <title>쿠폰존 목록</title>
    <script src="/js/coupon/couponPopup.js"></script>
</head>

<th:block layout:fragment="content">
    <div class="row mb-3">
        <div class="col">
            <div class="card-header">
                <h4 class="page-title">쿠폰존 목록</h4>
            </div>
        </div>
        <div class="col">
            <div class="text-end">
                <a th:href="@{/admin/coupon-zone/create-form}" class="btn btn-primary">등록하기</a>
            </div>
        </div>
    </div>

                                <!--/* 이달의 쿠폰 */-->
    <h3>이달의 쿠폰</h3>

    <div th:if="${#lists.isEmpty(limitedList)}">
        <div class="mb-3">등록된 이달의 쿠폰 쿠폰이 없습니다.</div>
    </div>

    <div class="card" th:unless="${#lists.isEmpty(limitedList)}">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>쿠폰 ID</th>
                    <th>쿠폰 이름</th>
                    <th>설명</th>
                    <th>오픈시간</th>
                    <th>발급만료기간</th>
                    <th>쿠폰만료기간</th>
                    <th>숨김여부</th>
                    <th>숨김수정</th>
                    <th>삭제</th>
                </tr>
                </thead>

                <tbody th:each="limited, limitedStat :${limitedList}">
                <tr>
                    <td><p th:text="${limitedStat.count}"></p></td>
                    <td><p th:text="${limited.couponId}"></p></td>
                    <td><p th:text="${limited.name}"></p></td>
                    <td><p th:text="${limited.description}"></p></td>
                    <td><p th:text="${limited.openedAt}"></p></td>
                    <td><p th:text="${limited.issuanceDeadlineAt}"></p></td>
                    <td>
                        <p th:if="${limited.isBlind}">O</p>
                        <p th:unless="${limited.isBlind}">X</p>
                    </td>
                    <td><a onclick="" href="">수정</a></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin/coupon-zone/delete/{id} (id=${limited.id})}">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

                                <!--/* 이달의 쿠폰 */-->
    <h3>등급별 쿠폰</h3>
    <div th:if="${#lists.isEmpty(unlimitedList)}">
        <div class="mb-3">등록된 등급별 쿠폰이 없습니다.</div>
    </div>

    <div class="card" th:unless="${#lists.isEmpty(unlimitedList)}">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>쿠폰 ID</th>
                    <th>쿠폰 이름</th>
                    <th>설명</th>
                    <th>오픈시간</th>
                    <th>닫힘시간</th>
                    <th>숨김여부</th>
                    <th>숨김수정</th>
                    <th>삭제</th>
                </tr>
                </thead>

                <tbody th:each="unlimited, unlimitedStat :${unlimitedList}">
                <tr>
                    <td><p th:text="${unlimitedStat.count}"></p></td>
                    <td><p th:text="${unlimited.couponId}"></p></td>
                    <td><p th:text="${unlimited.name}"></p></td>
                    <td><p th:text="${unlimited.description}"></p></td>
                    <td><p th:text="${unlimited.openedAt}"></p></td>
                    <td><p th:text="${unlimited.issuanceDeadlineAt}"></p></td>
                    <td>
                        <p th:if="${unlimited.isBlind}">O</p>
                        <p th:unless="${unlimited.isBlind}">X</p>
                    </td>
                    <td><a href="">수정</a></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin/coupon-zone/delete/{id} (id=${unlimited.id})}">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

                                <!--/* 이달의 쿠폰 */-->
    <h3>수량 무제한 쿠폰</h3>
    <div th:if="${#lists.isEmpty(unlimitedList)}">
        <div class="mb-3">등록된 수량 무제한 쿠폰이 없습니다.</div>
    </div>

    <div class="card" th:unless="${#lists.isEmpty(unlimitedList)}">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>쿠폰 ID</th>
                    <th>쿠폰 이름</th>
                    <th>설명</th>
                    <th>오픈시간</th>
                    <th>닫힘시간</th>
                    <th>숨김여부</th>
                    <th>숨김수정</th>
                    <th>삭제</th>
                </tr>
                </thead>

                <tbody th:each="unlimited, unlimitedStat :${unlimitedList}">
                <tr>
                    <td><p th:text="${unlimitedStat.count}"></p></td>
                    <td><p th:text="${unlimited.couponId}"></p></td>
                    <td><p th:text="${unlimited.name}"></p></td>
                    <td><p th:text="${unlimited.description}"></p></td>
                    <td><p th:text="${unlimited.openedAt}"></p></td>
                    <td><p th:text="${unlimited.issuanceDeadlineAt}"></p></td>
                    <td>
                        <p th:if="${unlimited.isBlind}">O</p>
                        <p th:unless="${unlimited.isBlind}">X</p>
                    </td>
                    <td><a href="">수정</a></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin/coupon-zone/delete/{id} (id=${unlimited.id})}">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
