<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/admin}">
<head>
    <title>발행된 쿠폰 목록</title>
</head>

<th:block layout:fragment="content">

    <div class="page-header d-print-none">
        <div class="row">
            <div class="col">
                <h4 class="page-title">쿠폰 발급 기록</h4>
            </div>
            <div class="col">
                <div class="align-content-end">
                    <div class="input-group mb-3">
                        <div class="col-3">
                            <select class="form-select">
                                <option>회원 ID</option>
                                <option>쿠폰 이름</option>
                                <option>쿠폰 ID</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-auto">
                            <a href="#" class="btn btn-icon" aria-label="Button">
                                <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(list)}">
        <div>등록된 쿠폰이 없습니다.</div>
    </div>

    <div class="card" th:unless="${#lists.isEmpty(list)}">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>쿠폰 ID</th>
                        <th>쿠폰 코드</th>
                        <th>쿠폰 이름</th>
                        <th>소유 회원 ID</th>
                        <th>발급일</th>
                        <th>만료일</th>
                    </tr>
                </thead>

                <tbody th:each="history, historyStat:${list}">
                <tr>
                    <td><p th:text="${historyStat.count}+${currentPage}*20"></p></td>
                    <td><p th:text="${history.id}"></p></td>
                    <td><p th:text="${history.code}"></p></td>
                    <td><p th:text="${history.couponName}"></p></td>
                    <td><p th:text="${history.memberMemberId}"></p></td>
                    <td><p th:text="${#temporals.format(history.issuedAt, 'yyyy년 MM월 dd일 HH:mm:ss')}"></p></td>
                    <td><p th:text="${#temporals.format(history.expiredAt, 'yyyy년 MM월 dd일 HH:mm:ss')}"></p></td>
                </tr>
                </tbody>
            </table>
            <th:block th:replace="thymeleaf/fragments/pagination :: pagination"></th:block>
        </div>
    </div>
</th:block>
