<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/admin}">
<head>
    <title>발행된 쿠폰 목록</title>
</head>

<th:block layout:fragment="content">

    <div th:if="${#lists.isEmpty(list)}">
        <div>등록된 쿠폰이 없습니다.</div>
    </div>

    <div class="card" th:unless="${#lists.isEmpty(list)}">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>쿠폰 ID</th>
                        <th>쿠폰 코드</th>
                        <th>쿠폰 이름</th>
                        <th>소유 회원 ID</th>
                        <th>발급일</th>
                        <th>만료일</th>
                    </tr>
                </thead>

                <tbody th:each="history, historyStat:${list}">
                <tr>
                    <td><p th:text="${historyStat.count}+${currentPage}*20"></p></td>
                    <td><p th:text="${history.id}"></p></td>
                    <td><p th:text="${history.code}"></p></td>
                    <td><p th:text="${history.name}"></p></td>
                    <td><p th:text="${history.memberId}"></p></td>
                    <td><p th:text="${#temporals.format(history.issuedAt, 'yyyy년 MM월 dd일 HH:mm:ss')}"></p></td>
                    <td><p th:text="${#temporals.format(history.expiredAt, 'yyyy년 MM월 dd일 HH:mm:ss')}"></p></td>
                </tr>
                </tbody>
            </table>
            <th:block th:replace="thymeleaf/fragments/pagination :: pagination"></th:block>
        </div>
    </div>
</th:block>
