<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/profile}">
<head>
  <title>북레이 - 마이페이지</title>
  <link href="/css/mypage-main.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
  <div class="card card-sm">
    <div class="article" style="margin: 1rem;">
      <h1 style="padding-bottom:1rem;">마이페이지</h1>
      <!--      마이페이지 3분할 핵심 정보-->
      <div class="mypage-var">
        <div class="divide-1">
          <h3 class="mypage-var-head">포인트</h3>
          <label class="mypage-var-text">
            <a href="#"> 링크 수정 포인트 추가요망</a><span> 포인트</span>
          </label>
        </div>
        <div class="divide-1" id="mypage-var-center">
          <h3 class="mypage-var-head">쿠폰</h3>
          <label class="mypage-var-text">
            <a href="#"> 링크 수정 쿠폰 갯수 추가요망</a><span> 개</span>
          </label>
        </div>
        <div class="divide-1">
          <h3 class="mypage-var-head">등급</h3>
          <label class="mypage-var-text">
            <a href="#">등급조회 화이트</a>
          </label>
        </div>
      </div>
      <!--      마이페이지 3분할 핵심 정보 종료-->
      <!--      개인정보-->
      <div class="mypage-member-info" style="margin-top: 1rem;">
        <!--        사이트 회원 정보-->
        <div class="table-responsive">
          <table class="table table-vcenter card-table">
            <tr>
              <td class="info-index">아이디</td>
              <td>booklay</td>
            </tr>
            <tr>
              <td class="info-index">이메일</td>
              <td>booklay@gmail.com</td>
            </tr>
            <tr>
              <td class="info-index">닉네임</td>
              <td>북레이 관리자</td>
            </tr>
          </table>
          <br>
          <!--        진짜 개인적 정보-->
          <div class="table-responsive">
            <table class="table table-vcenter card-table">
              <tr class="">
                <td class="info-index">이름</td>
                <td>북레이</td>
              </tr>
              <tr>
                <td class="info-index">성별</td>
                <td>지구별</td>
              </tr>
              <tr>
                <td class="info-index">생일</td>
                <td>2000-02-09</td>
              </tr>
              <tr>
                <td class="info-index">전화번호</td>
                <td>앞뒤가 똑같은 전화번호</td>
              </tr>
            </table>

            <button class="btn btn-outline-primary"
                    style="float: right; margin-top: 1rem; margin-bottom: 1rem;">
              <a href="#">배송지 정보관리</a>
            </button>
          </div>
        </div>
      </div>
      <!--      개인정보 종료-->

      <!--      위시리스트, 재입고 알림 탭-->
      <div class="card" style="margin-top: 1rem;">
        <ul class="nav nav-tabs" data-bs-toggle="tabs">
          <li class="nav-item">
            <a href="#tabs-wishlist-7" class="nav-link active" data-bs-toggle="tab">위시리스트</a>
          </li>
          <li class="nav-item">
            <a href="#tabs-alarm-7" class="nav-link" data-bs-toggle="tab">재입고 알림</a>
          </li>
        </ul>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active show" id="tabs-wishlist-7">
              <div>개발중 임시 분할입니다
                <button class="btn btn-outline-primary"
                        style="float: right; margin-top: 1rem; margin-bottom: 1rem;">
                  <a href="#">위시리스트 관리</a>
                </button>
              </div>
            </div>
            <div class="tab-pane" id="tabs-alarm-7">
              <div>개발중 임시 분할입니다
                <button class="btn btn-outline-primary"
                        style="float: right; margin-top: 1rem; margin-bottom: 1rem;">
                  <a href="#">재입고 알림 관리</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--      위시리스트, 재입고 알림 탭 종료-->
    </div>

  </div>
</th:block>
</html>
