<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">

<!-- Navbar Start -->
<div class="container-fluid mb-5">
  <div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100"
         data-toggle="collapse" href="#navbar-vertical"
         style="height: 65px; margin-top: -1px; padding: 0 30px;">
        <h6 class="m-0">관리자메뉴</h6>
        <i class="fa fa-angle-down text-dark"></i>
      </a>
      <nav
          class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
          id="navbar-vertical">
        <div class="navbar-nav w-100 overflow-auto" style="height: 410px">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown">쿠폰 <i
                class="fa fa-angle-down float-right mt-1"></i></a>
            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
              <a href="/admin/coupons/create-form" class="dropdown-item">쿠폰 등록</a>
              <a href="/admin/coupons/list" class="dropdown-item">쿠폰 조회</a>
              <span class="dropdown-item-text">----------</span>
              <a href="/admin/coupon-zone" class="dropdown-item">쿠폰존 관리</a>
              <a href="/admin/coupons/issue" class="dropdown-item">쿠폰 발급</a>
              <a href="/admin/coupons/member/issue" class="dropdown-item">사용자 발급</a>
              <span class="dropdown-item-text">----------</span>
              <a href="/admin/coupons/types/create/" class="dropdown-item">쿠폰 타입 등록</a>
              <a href="/admin/coupons/types/list/0" class="dropdown-item">쿠폰 타입 조회</a>
              <span class="dropdown-item-text">----------</span>
              <a href="/admin/coupons/issue-history" class="dropdown-item">쿠폰 발급 기록 조회</a>
              <a href="/admin/coupons/use-history/0" class="dropdown-item">쿠폰 사용 기록 조회</a>
            </div>
          </div>

          <div class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown">멤버관리 <i
                      class="fa fa-angle-down float-right mt-1"></i></a>
              <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                  <a href="/admin/members" class="dropdown-item">회원 조회</a>
                  <a href="/admin/members/block" class="dropdown-item">차단 회원 관리</a>
              </div>
          </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown">쿠폰 템플릿 <i
                        class="fa fa-angle-down float-right mt-1"></i></a>
                <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                    <a href="/admin/coupon/template/create" class="dropdown-item">쿠폰 템플릿 등록</a>
                    <a href="/admin/coupon/template/list/0" class="dropdown-item">쿠폰 템플릿 조회</a>
                    <a href="/admin/coupon/setting/create" class="dropdown-item">쿠폰 설정 등록</a>
                    <a href="/admin/coupon/setting/list/0" class="dropdown-item">쿠폰 설정 조회</a>
                </div>
            </div>

          <div class="nav-item dropdown">
            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
              <a href="" class="dropdown-item">미등록</a>
              <a href="" class="dropdown-item">미등록</a>
              <a href="" class="dropdown-item">미등록</a>
            </div>
          </div>

          <div class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown">상품관리 <i
                class="fa fa-angle-down float-right mt-1"></i></a>
            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
              <a href="/admin/product/books/create" class="dropdown-item">책 상품 등록</a>
              <a href="/admin/product/subscribes/create" class="dropdown-item">구독 상품 등록</a>
              <span class="dropdown-item-text">----------</span>
              <a href="/admin/tag/maintenance" class="dropdown-item">태그 관리</a>
              <a href="/admin/author/maintenance" class="dropdown-item">작가 관리</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="col-lg-9">
      <!-- Navbar Start -->
      <th:block th:if="${not #strings.isEmpty(navHead)}">
        <th:block th:include="${'admin/'+ navHead}"/>
      </th:block>
      <!-- Navbar End -->
      <!-- admin detail Start -->
      <th:block th:if="${not #strings.isEmpty(targetUrl)}">
        <th:block th:include="${'admin/' + targetUrl}"/>
      </th:block>
      <!-- admin detail End -->
    </div>
  </div>
</div>
<!-- Navbar End -->
</html>