<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <title>카테고리 선택</title>
    <script src="/js/coupon/couponPopup.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="/plugins/tabler/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/demo.min.css" rel="stylesheet"/>
</head>
<body>
<div th:if="${#lists.isEmpty(list)}">
    <div>등록된 카테고리가 없습니다.</div>
</div>

<div class="card-table table-responsive" th:unless="${#lists.isEmpty(list)}">
    <table class="table table-vcenter card-table">
        <thead>
        <tr>
            <td>번호</td>
            <td>카테고리 번호</td>
            <td>상위 카테고리</td>
            <td>카테고리 이름</td>
            <td>카테고리 깊이</td>
            <td>노출 여부</td>
            <td></td>
        </tr>
        </thead>

        <tbody th:each="category, categoryStat :${list}">
        <td><p th:text="${categoryStat.count}"></p></o></td>
        <td><p th:text="${category.id}"></p></td>
        <td>
            <label th:if="${category.getParentCategoryId()} == null">
                <span th:text="없음"></span>
            </label>
            <label th:unless="${category.getParentCategoryId() == null}">
                <span th:text="${category.getParentCategoryId()}"></span>
            </label>
        </td>
        <td><p th:text="${category.name}"></p></td>
        <td><p th:text="${category.depth}"></p></td>
        <td>
            <p th:if="${category.isExposure}">O</p>
            <p th:unless="${category.isExposure}">X</p>
        </td>
        <td>
            <input class="btn btn-outline-primary" type="button" value="선택"
                   th:id="${category.id}" th:name="${category.name}"
                   th:onclick="setApplyItemText(this.getAttribute('id'), this.getAttribute('name'))">
        </td>
        </tbody>
    </table>

    <th:block th:replace="thymeleaf/fragments/pagination :: pagination"></th:block>
</div>
</body>
</html>
