<!DOCTYPE html>
<html lang="ko">
<head>
    <title>쿠폰 선택</title>
    <script src="/js/coupon/couponPopup.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="/plugins/tabler/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/demo.min.css" rel="stylesheet"/>
</head>

<body>
    <div th:if="${#lists.isEmpty(list)}">
        <div>등록된 쿠폰이 없습니다.</div>
    </div>

    <div class="card" th:unless="${#lists.isEmpty(list)}">
    <div class="card-table table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>쿠폰 ID</th>
                <th>쿠폰 이름</th>
                <th>쿠폰 타입</th>
                <th>할인량</th>
                <th>최소사용금액</th>
                <th>최대할인금액</th>
                <th>수량제한</th>
                <th></th>
            </tr>
            </thead>

            <tbody th:each="coupon, couponStat :${list}">
            <td><p th:text="${couponStat.count}"></p></td>
            <td><p th:text="${coupon.id}"></p></td>
            <td><p th:text="${coupon.name}"></p></td>
            <td><p th:text="${coupon.typeName}"></p></td>
            <td><p th:text="${coupon.amount}"></p></td>
            <td><p th:text="${coupon.minimumUseAmount}"></p></td>
            <td><p th:text="${coupon.maximumDiscountAmount}"></p></td>
            <td>
                <p th:if="${coupon.isLimited}">O</p>
                <p th:unless="${coupon.isLimited}">X</p>
            </td>
            <td>
                <input type="button" value="선택" th:id="${coupon.id}" th:name="${coupon.name}" th:onclick="setParentText(this.getAttribute('id'), this.getAttribute('name'))">
            </td>
            </tbody>
        </table>
        <th:block th:replace="thymeleaf/fragments/pagination :: pagination"></th:block>
    </div>
    </div>
</body>
</html>
