<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <title>회원 선택</title>
    <script src="/js/coupon/couponPopup.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="/plugins/tabler/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/demo.min.css" rel="stylesheet"/>
</head>
<body>
<div th:if="${#lists.isEmpty(list)}">
    <div>등록된 멤버가 없습니다.</div>
</div>

<div class="card" th:unless="${#lists.isEmpty(list)}">
    <div class="card-table table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>로그인 ID</th>
                <th>회원 닉네임</th>
                <th>생일</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="member, memberStat :${list}">
                <td><p th:text="${memberStat.count}"></p></td>
                <td><p th:text="${member.memberId}"></p></td>
                <td><p th:text="${member.nickname}"></p></td>
                <td><p th:text="${member.birthday}"></p></td>
                <td><input type="button" value="선택" th:id="${member.memberNo}" th:name="${member.nickname}" th:onclick="setMemberText(this.getAttribute('id'), this.getAttribute('name'))"></td>
            </tbody>
        </table>
        <th:block th:replace="thymeleaf/fragments/pagination :: pagination"></th:block>
    </div>
</div>
</body>
</html>
