<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <title>카테고리 선택</title>
    <script src="/js/coupon/couponPopup.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="/plugins/tabler/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/demo.min.css" rel="stylesheet"/>
</head>
<body>
<div th:if="${#lists.isEmpty(list)}">
    <div>등록된 상품이 없습니다.</div>
</div>

<div class="card">
    <div class="card-table table-responsive" th:unless="${#lists.isEmpty(list)}">
        <table class="table table-vcenter card-table">
            <thead>
            <tr>
                <th>번호</th>
                <th>상품 번호</th>
                <th>제목</th>
                <th>가격</th>
                <th>판매 여부</th>
                <th>출판사</th>
                <th></th>
            </tr>
            </thead>

            <tbody th:each="product, productStat :${list}">
            <td><p th:text="${productStat.count}"></p></o></td>
            <td><p th:text="${product.productId}"></p></td>
            <td><p th:text="${product.title}"></p></td>
            <td><p th:text="${product.price}"></p></td>
            <td><p th:text="${product.selling}"></p></td>
            <td><p th:text="${product.publisher}"></p></td>
            <td>
                <input class="btn btn-outline-primary" type="button" value="선택"
                       th:id="${product.productId}" th:name="${product.title}"
                       th:onclick="setApplyItemText(this.getAttribute('id'), this.getAttribute('name'))">
            </td>
           </tbody>
        </table>

        <th:block th:replace="thymeleaf/fragments/pagination :: pagination"></th:block>
    </div>
</div>
</body>
</html>
