<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/admin}">
<head>
    <meta charset="UTF-8">
    <title>차단 회원 리스트</title>
    <script src="/js/member/memberBlockPopup.js"></script>
    <script src="/js/member/memberSubDetailPopup.js"></script>
</head>
<th:block layout:fragment="content">
    <div>
        <h3>[차단 회원 리스트]</h3>
        <div class="card">
            <div class="table-responsive">
                <table class="table table-vcenter card-table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>회원ID</th>
                        <th>회원이름</th>
                        <th>차단사유</th>
                        <th>차단일자</th>
                        <th>이력</th>
                        <th>해제하기</th>
                        <th>등급이력</th>
                        <th>권한이력</th>
                    </tr>
                    </thead>

                    <tbody th:each="member, memberStat : ${list}">
                    <tr>
                        <td th:text="${memberStat.count}"></td>
                        <td th:text="${member.getMemberId()}"></td>
                        <td th:text="${member.getName()}"></td>
                        <td th:text="${member.getReason()}"></td>
                        <td th:text="${#temporals.format(member.getBlockedAt(), 'yyyy.MM.dd HH:mm:ss')}"></td>
                        <td>
                            <button class="btn btn-outline-primary" th:id="${member.getMemberNo()}"
                                    onclick="showMemberBlockHistoryPopup(this.getAttribute('id'))">상세보기</button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger" th:id="${member.getId()}"
                                    onclick="showMemberBlockCancelPopup(this.getAttribute('id'))">차단해제
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" th:id="${member.getMemberNo()}"
                                    onclick="showMemberGradePopup(this.getAttribute('id'))">보기
                            </button>

                        </td>
                        <td>
                            <button class="btn btn-outline-primary" th:id="${member.getMemberNo()}"
                                    onclick="showMemberAuthorityPopup(this.getAttribute('id'))">보기
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <th:block th:if="${list.isEmpty()}">
            <h2>차단된 회원이 없습니다.</h2>
        </th:block>

    </div>
</th:block>
</html>
