<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/blank}">
<head>
    <meta charset="UTF-8">
    <title>회원 차단하기</title>
</head>
<th:block layout:fragment="content">

    <div class="card container container-tight py-4">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h2 class="card-title text-center mb-4">회원 차단하기</h2>
            <form th:action="@{/admin/members/block/{memberNo}(memberNo=${member.getMemberNo()})}" method="post">

                <div class="mb-3">
                    <label class="form-label">회원 ID</label>
                    <span th:text="${member.getMemberId()}"></span>
                </div>
                <br>
                <div class="mb-3">
                    <label class="form-label">회원 이름</label>
                    <span th:text="${member.getName()}"></span>
                </div>
                <br>
                <div class="mb-3">
                    <label class="form-label">사유</label>
                    <textarea class="form-control" name="reason" rows="6" placeholder="사유입력"></textarea>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">차단하기</button>
                </div>

            </form>

        </div>
    </div>
</th:block>
</html>
