<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/blank}">
<head>
    <meta charset="UTF-8">
    <title>회원 차단 해제하기</title>
</head>
<th:block layout:fragment="content">
    <div class="card container container-tight py-4">
        <div class="card-header">
        </div>
        <div class="card-body" style="text-align: center;">
            <h2 class="card-title text-center mb-4">회원 차단 해제하기</h2>
            <b style="font-size: 20px;">차단을 해제하시겠습니까?</b><br>
            <div style="margin-top: 1rem;">
                <a id="release-btn"
                   th:href="@{/admin/members/block/cancel/process/{blockedMemberDetailId}(blockedMemberDetailId=${blockedMemberDetailId})}">
                    <button class="btn btn-outline-danger" onclick="window.close()">
                        해제
                    </button>
                </a>
                <button class="btn btn-outline-primary" onclick="window.close()">취소</button>
            </div>
        </div>
    </div>
</th:block>
</html>
