<!DOCTYPE html>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>회원 통계 페이지</title>-->
<!--</head>-->
<!--<body>-->
<!--<h3>[회원 통계]</h3><br>-->

<!--</body>-->
<html>
<head>
    <meta charset="UTF-8">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {
            fetch('http://localhost:6060/admin/members/chart')
                .then(res => res.json())
                .then(res => {
                    if (res.success) {
                        // TODO: DB에서 데이터 읽어올 수 있도록 수 (삽질 필요)
                        console.log(`${res.user.name}`);

                        // Create the data table.
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Topping');
                        data.addColumn('number', 'Slices');
                        data.addRows([
                            ['유효회원', ${res.}],
                            ['차단회원', 1],
                            ['탈퇴회원', 1]
                        ]);

                        // Set chart options
                        var options = {
                            'title': '회원 통계',
                            'width': 400,
                            'height': 300
                        };

                        // Instantiate and draw our chart, passing in some options.
                        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                        chart.draw(data, options);
                    }
                });
        }
    </script>
</head>

<body>
<!--Div that will hold the pie chart-->
<div id="chart_div"></div>
</body>
</html>
