<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" action="/admin/categories">
        private Long id; <input type="number" name="id"/> <br/>
        private Long parentCategoryId;  <input type="number" name="parentCategoryId"/> <br/>
        private String name;    <input type="text" name="name"/> <br/>
        private Boolean isExposure;
        <input type="radio" name="isExposure" value="true"> Y
        <input type="radio" name="isExposure" value="false"> N
        <input type="submit" value="제출">
    </form>
</div>
</body>
</html>