<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>

</form>
<div>
    <table>
        <tr>
            <th>카테고리 번호</th>
            <th>상위 카테고리</th>
            <th>카테고리 이름</th>
            <th>카테고리 깊이</th>
            <th>노출 여부</th>
            <th>수정하기</th>
        </tr>
        <tr>
            <td th:text="${category.getId()}"></td>
            <td th:if="${category.getParentCategoryId()} == null" th:text="없음"></td>
            <td th:unless="${category.getParentCategoryId() == null}" th:text="${category.getParentCategoryId()}"></td>
            <td th:text="${category.getName()}"></td>
            <td th:text="${category.getDepth()}"></td>
            <td th:text="${category.getIsExposure()}"></td>
            <td th:value="수정"><button type="button" th:id="'update_button_'+${category.id}" ></button></td>
            <td th:value="반영하기"><button type="submit" th:id="'update_category_'+${category.id}" ></button></td>
        </tr>
    </table>
</div>

</body>
</html>