<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>북레이 - 태그 관리 페이지</title>
</head>
<body>
<form>
  <input type="text">
  <input type="submit" value="검색">
</form>
<hr>
<table>
  <thead>
  <tr>
    <th>테그 번호</th>
    <th>테그 이름</th>
    <th>삭제</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="tag : ${tagList}">
    <tr>
      <td><span th:text="${tag.id}"/></td>
      <td>
        <form method="post" action="/admin/tag/maintenance/update">
          <input name="id" type="number" th:value="${tag.id}" hidden/>
          <input name="name" class="name-input" type="text" th:value="${tag.name}" maxlength=20 disabled="disabled"/>
          <input class="submit-btn" type="submit" value="수정 제출" hidden="hidden"/>
          <span class="update-button">수정</span>
        </form>
      </td>
      <td>
        <form method="post" action="/admin/tag/maintenance/delete">
          <input name="id" type="number" th:value="${tag.id}" hidden/>
          <input class="delete-btn" type="submit" value="삭제"/>
        </form>
      </td>
    </tr>
  </th:block>
  </tbody>

  <script>
    const updateBtns = document.querySelectorAll('.update-button');
    updateBtns.forEach(function (item) {
      item.addEventListener('click', function () { // 클릭 이벤트 발생시,
        var form1 = this.closest('form'); // 클릭 이벤트가 발생한 버튼에 제일 가까운 폼을 찾고,
        form1.querySelector('.name-input').toggleAttribute('disabled')
        form1.querySelector('.submit-btn').toggleAttribute('hidden')
      });
    });
  </script>

</table>

<div>
  <a th:if="${currentPage - 1 >= 1}" th:href="@{/admin/tag/maintenance(page=${currentPage}-2)}">
    <span th:text="${currentPage}-1"/></a>
  <a th:if="${currentPage >= 1}" th:href="@{/admin/tag/maintenance(page=${currentPage}-1)}">
    <span th:text="${currentPage}"/></a>

  <a  th:if="${currentPage+1 != totalPage}" th:href="@{/admin/tag/maintenance(page=${currentPage})}">
  <span th:text="${currentPage}+1"/></a>

  <a th:if="${currentPage + 2 < totalPage}" th:href="@{/admin/tag/maintenance(page=${currentPage}+1)}">
  <span th:text="${currentPage}+2"/></a>
  <a th:if="${currentPage + 3 < totalPage}" th:href="@{/admin/tag/maintenance(page=${currentPage}+2)}">
  <span th:text="${currentPage}+3"/></a>

  <span th:if="${currentPage + 3 < totalPage}">...</span>

  <a th:href="@{/admin/tag/maintenance(page=${totalPage})}">
    <span th:text="${totalPage}"/></a>
</div>

<hr>

<h3>테그 등록</h3>
<form method="post" action="/admin/tag/maintenance">
  <p>테그명 : <input type="text" name="name">
    <input type="submit" value="등록"/></p>
</form>

</body>
</html>