<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>작가 관리 페이지</title>
</head>
<body>
<h2>작가 검색 페이지</h2>

<form>
  <input type="text"/>
  <input type="submit" value="검색"/>
</form>
<hr>

<table>
  <thead>
  <tr>
    <th>작가 번호</th>
    <th>작가 이름</th>
    <th>작가 아이디</th>
    <th>작품 정보</th>
  </tr>
  </thead>

  <tbody>
  <th:block th:each="author : ${authorList}">
    <tr>
      <td><span th:text="${author.authorNo}"/></td>
      <td><span th:text="${author.name}"/></td>
      <td><span th:if="${author.member != null}" th:text="${author.member.memberId}"/></td>
      <td><a href="">작품 정보</a></td>
    </tr>
  </th:block>
  </tbody>
</table>

<div>
  <a th:if="${nowPage - 1 >= 1}" th:href="@{/admin/product/author/maintenance(page=${nowPage}-2)}">
    <span th:text="${nowPage}-1"/></a>
  <a th:if="${nowPage >= 1}" th:href="@{/admin/product/author/maintenance(page=${nowPage}-1)}">
    <span th:text="${nowPage}"/></a>

  <a  th:if="${nowPage+1 != totalPage}" th:href="@{/admin/product/author/maintenance(page=${nowPage})}">
    <span th:text="${nowPage}+1"/></a>

  <a th:if="${nowPage + 2 < totalPage}" th:href="@{/admin/product/author/maintenance(page=${nowPage}+1)}">
    <span th:text="${nowPage}+2"/></a>
  <a th:if="${nowPage + 3 < totalPage}" th:href="@{/admin/product/author/maintenance(page=${nowPage}+2)}">
    <span th:text="${nowPage}+3"/></a>

  <span th:if="${nowPage + 3 < totalPage}">...</span>

  <a th:href="@{/admin/product/author/maintenance(page=${totalPage})}">
    <span th:text="${totalPage}"/></a>
</div>

<hr>
<h3>작가 등록</h3>

<form method="post" action="/admin/product/admin/maintenance">
  <table>
    <tr>
      <td>작가 이름 : </td>
      <td> <input name="name" type="text"/></td>
    </tr>
    <tr>
      <td>작가 계정 (선택사항) : </td>
      <td> <input name="memberNo" type="number"/></td>
    </tr>
  </table>

  <input type="submit" value="작가 등록"/>
</form>

</body>
</html>