<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>북레이 - 책상품 등록</title>
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/product/productRegister.js"></script>
</head>
<body>

<form method="post" action="/admin/product/books/create" enctype="multipart/form-data">
  <!--<form enctype="multipart/form-data">-->
  <p>제목 : <input type="text" name="title" size=80 maxlength=255/></p>
  <p>썸네일 : <input type="file" name="image" accept="image/jpeg, image/jpg, image/svg+xml, image/png">
  </p>
  <p>가격 : <input type="number" min="0" step="1" name="price"/></p>

  <p>적립 여부 :
    <input type="radio" name="pointMethod" value="true"> Y
    <input type="radio" name="pointMethod" value="false"> N
  </p>
  <p>적립률 : <input type="number" min="0" step="1" name="pointRate" th:value="${defaultPointRate}"
                  size=1/> %</p>

  <p>짧은 설명</p>
  <div id="shortEditor"></div>
  <input id="shortDescription" name="shortDescription" type="text" hidden="hidden"/>

  <p>긴 설명</p>
  <div id="longEditor"></div>
  <input id="longDescription" name="longDescription" type="text" hidden="hidden"/>

  <p>판매 여부 :
    <input type="radio" name="selling" value="true"> Y
    <input type="radio" name="selling" value="false"> N
  <p>

    <input th:id="${productNo}" type="button" value="카테고리 팝업창 호출" onclick="showCategory();"/>
  <div id="categories"></div>

  <p>ISBN : <input type="text" name="isbn" size=40 maxlength=20/></p>
  <p>페이지 수 : <input type="number" min="0" step="1" name="page"/></p>
  <p>출판사 : <input type="text" name="publisher" size=40 maxlength=100/></p>
  <p>출판일 : <input type="date" name="publishedDate"/></p>
  <input th:id="${productNo}" type="button" value="작가 팝업창 호출" onclick="showAuthor();"/>
  &ensp;&ensp;&ensp;
  <div id="authors"></div>

  <!--  둘 중 하나만 입력 가능해야함-->
  <p> 책 종류 설정 :
    <input type="radio" name="ebookCheck" value="true"> 일반 책 상품
    <input type="radio" name="ebookCheck" value="false"> 이북 상품
  </p>

  <p>재고량 : <input type="number" min="0" step="1" name="storage"/></p>
  <p>이북 주소 : <input type="text" name="ebookAddress" size=40 maxlength=255></p>

  <input type="submit" id="btn-submit"/>
</form>

</body>
</html>