<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/product/productBookRegister.js"></script>
</head>
<body>
<form method="post" action="/admin/product/subscribes/create" enctype="multipart/form-data">
  <p>제목 : <input type="text" name="title"/></p>
  <p>썸네일 : <input type="file" name="image" accept="image/jpeg, image/jpg, image/svg+xml, image/png">
  </p>
  <p>가격 : <input type="number" min="0" name="price"/></p>
  <p>적립률 : <input type="number" min="0" name="pointRate" th:value="${defaultPointRate}"/> %</p>
  <p>적립 여부 :
    <input type="radio" name="pointMethod" value="true"> Y
    <input type="radio" name="pointMethod" value="false"> N
  </p>

  <p>짧은 설명</p>
  <div id="shortEditor"></div>
  <input id="shortDescription" name="shortDescription" type="text" hidden="hidden"/>

  <p>긴 설명</p>
  <div id="longEditor"></div>
  <input id="longDescription" name="longDescription" type="text" hidden="hidden"/>

  <p>판매 여부 :
    <input type="radio" name="isSelling" value="true"> Y
    <input type="radio" name="isSelling" value="false"> N
  <p>

  <p>
    <input th:id="${productNo}" type="button" value="카테고리 팝업창 호출" onclick="showCategory();"/>
    &ensp; &ensp; &ensp;
    <input name="categoryAdder" type="button" value="카테고리 추가" onclick="addCategory();"/>
  <div id="categories"></div>

  <p>발매 주차 :
    <select name="subscribeDay">
      <option value=1>1주차</option>
      <option value=2>2주차</option>
      <option value=3>3주차</option>
      <option value=4>4주차</option>
    </select>
  </p>

  <p>발매 요일 :
    <select name="subscribeDay">
      <option value=1>월요일</option>
      <option value=2>화요일</option>
      <option value=3>수요일</option>
      <option value=4>목요일</option>
      <option value=5>금요일</option>
      <option value=6>토요일</option>
      <option value=7>일요일</option>
    </select>
  </p>

  <p>출판사 : <input name="publisher" type="text"/></p>


  <p>
    <input th:id="${productNo}" type="button" value="상품 팝업창 호출" onclick="showProduct();"/>
    &ensp; &ensp; &ensp;
    <input name="childProductAdder" type="button" value="구독 책 추가" onclick="addChildProduct();"/>
  <div id="childProduct"></div>

  <input type="submit" value="구독 상품 등록" id="btn-submit"/>
</form>
</body>
</html>