<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form>
  <p>제목 : <input type="text" name="title"/></p>
  <P>가격 : <input type="number" min="0" name="price"/></P>
  <P>적립률 : <input type="number" min="0" name="pointRate"/> %</P>
  <P>적립 여부 : <input type="checkbox" name="pointMethod"/></P>
  <P>짧은 설명 : tui-editor</P>
  <P>긴 설명 : tui-editor</P>
  <P>판매 여부 : <input type="checkbox" name="isSelling"/></P>
  <p>카테고리 : 따로 페이지 뽑아서 거기서 받아오는 형식으로</p>

  <p>발매 주차 : <input type="number" min="1" max="4"/></p>
  <p>발매 일자 : <input type="number" min="1" max="28"/></p>
  <p>출판사 : <input type="text"/></p>
</form>
</body>
</html>