<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>북레이 - 상품 태그 등록</title>
</head>
<body>


<form>
  <input type="text">
  <input type="submit" value="검색">
</form>
<hr>
<table>
  <thead>
  <tr>
    <th>태그 번호</th>
    <th>태그 이름</th>
    <th>태그 삭제</th>
    <th>등록 여부</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="tag : ${tagList}">
    <tr>
      <td><span th:text="${tag.id}"/></td>
      <td>
        <form method="post"
              th:action="@{/admin/tag/connection/update/{productNo}/{pageNum} (productNo=${productNo}, pageNum=${totalPage})}">
          <input name="id" type="number" th:value="${tag.id}" hidden/>
          <input name="name" class="name-input" type="text" th:value="${tag.name}"
                 disabled="disabled"/>
          <input class="submit-btn" type="submit" value="수정 제출" hidden="hidden"/>
          <span class="update-button">수정</span>
        </form>
      </td>
      <td>
        <form method="post"
              th:action="@{/admin/tag/connection/delete/{productNo}/{pageNum} (productNo=${productNo}, pageNum=${totalPage})}">
          <input name="id" type="number" th:value="${tag.id}" hidden/>
          <input class="submit-btn" type="submit" value="삭제"/>
        </form>
      </td>
      <td>
        <form th:if="${tag.isRegistered()==true}" method="post"
              th:action="@{/admin/tag/connection/disconnect/{productNo}/{pageNum} (productNo=${productNo}, pageNum=${totalPage})}">
          <input name="tagId" type="number" th:value="${tag.id}" hidden="hidden"/>
          <input name="productNo" type="number" th:value="${productNo}" hidden="hidden"/>
          <input type="submit" value="등록 취소">
        </form>

        <form th:if="${tag.isRegistered()==false}" method="post"
              th:action="@{/admin/tag/connection/{productNo}/{pageNum} (productNo=${productNo}, pageNum=${totalPage})}">
          <input name="tagId" type="number" th:value="${tag.id}" hidden="hidden"/>
          <input name="productNo" type="number" th:value="${productNo}" hidden="hidden"/>
          <input type="submit" value="등록">
        </form>
      </td>
    </tr>
  </th:block>
  </tbody>

</table>

<div>
  <a th:if="${totalPage - 1 >= 1}"
     th:href="@{/admin/tag/connection/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${totalPage}-2)}">
    <span th:text="${totalPage}-1"/></a>
  <a th:if="${totalPage >= 1}"
     th:href="@{/admin/tag/connection/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${totalPage}-1)}">
    <span th:text="${totalPage}"/></a>

  <a th:if="${totalPage+1 != totalPage}"
     th:href="@{/admin/tag/connection/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${totalPage})}">
    <span th:text="${totalPage}+1"/></a>

  <a th:if="${totalPage + 2 < totalPage}"
     th:href="@{/admin/tag/connection/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${totalPage}+1)}">
    <span th:text="${totalPage}+2"/></a>
  <a th:if="${totalPage + 3 < totalPage}"
     th:href="@{/admin/tag/connection/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${totalPage}+2)}">
    <span th:text="${totalPage}+3"/></a>

  <span th:if="${totalPage + 3 < totalPage}">...</span>

  <a th:href="@{/admin/tag/connection/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${totalPage}-1)}">
    <span th:text="${totalPage}"/></a>
</div>

<hr>

<h3>테그 등록</h3>
<form method="post"
      th:action="@{/admin/tag/connection/create/{productNo}/{pageNum}(productNo=${productNo}, pageNum=${totalPage})}"/>
<p>테그명 : <input type="text" name="name">
  <input type="submit" value="등록"/></p>
</form>


<script>
  const updateBtns = document.querySelectorAll('.update-button');
  updateBtns.forEach(function (item) {
    item.addEventListener('click', function () { // 클릭 이벤트 발생시,
      var form1 = this.closest('form'); // 클릭 이벤트가 발생한 버튼에 제일 가까운 폼을 찾고,
      form1.querySelector('.name-input').toggleAttribute('disabled')
      form1.querySelector('.submit-btn').toggleAttribute('hidden')
    });
  });
</script>
</body>
</html>