<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>북레이 - 구독상품 발송 예정 상품 등록</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>상품 번호</th>
    <th>제목</th>
    <th>작가</th>
    <th>출판사</th>
    <th>등록 여부</th>
  </tr>
  </thead>
  <tbody>
  <th:block th:each="book : ${bookList}">
    <tr>
      <td><span th:text="${book.productId}"/></td>
      <td><span th:text="${book.title}"/></td>
      <td>
        <th:block th:each="author : ${book.authors}">
          <span th:text="${author}"/>
        </th:block>
      </td>
      <td><span th:text="${book.publisher}"/></td>
      <td>
        <form th:if="${!book.isRegistered}" method="post"
              th:action="@{/admin/product/subscribes/connect/{subscribeId}/{pageNum} (subscribeId = ${subscribeId}, pageNum = ${currentPage})}">
          <input name="productId" type="number" th:value="${book.productId}" hidden="hidden"/>
          <input name="subscribeId" type="number" th:value="${subscribeId}" hidden="hidden"/>
          <input name="releaseDate" type="date"/>
          <input type="submit" value="등록"/>
        </form>

        <form th:if="${book.isRegistered}" method="post"
              th:action="@{/admin/product/subscribes/disconnect/{subscribeId}/{pageNum} (subscribeId = ${subscribeId}, pageNum = ${currentPage})}">
          <input name="productId" type="number" th:value="${book.productId}" hidden="hidden"/>
          <input name="subscribeId" type="number" th:value="${subscribeId}" hidden="hidden"/>
          <input type="submit" value="등록 취소"/>
        </form>
      </td>
    </tr>
  </th:block>
  </tbody>
</table>

<div>
  <a th:if="${currentPage - 1 >= 1}"
     th:href="@{/admin/product/subscribes/connect/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${currentPage}-2)}">
    <span th:text="${currentPage}-1"/></a>
  <a th:if="${currentPage >= 1}"
     th:href="@{/admin/product/subscribes/connect/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${currentPage}-1)}">
    <span th:text="${currentPage}"/></a>

  <a th:if="${currentPage+1 != totalPage}"
     th:href="@{/admin/product/subscribes/connect/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${currentPage})}">
    <span th:text="${currentPage}+1"/></a>

  <a th:if="${currentPage + 2 < totalPage}"
     th:href="@{/admin/product/subscribes/connect/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${currentPage}+1)}">
    <span th:text="${currentPage}+2"/></a>
  <a th:if="${currentPage + 3 < totalPage}"
     th:href="@{/admin/product/subscribes/connect/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${currentPage}+2)}">
    <span th:text="${currentPage}+3"/></a>

  <span th:if="${currentPage + 3 < totalPage}">...</span>

  <a th:href="@{/admin/product/subscribes/connect/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${totalPage}-1)}">
    <span th:text="${totalPage}"/></a>
</div>

</body>
</html>