<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>상품 작가 등록</title>
</head>
<body>




<div>
  <a th:if="${nowPage - 1 >= 1}" th:href="@{/admin/product/author/connection/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage}-2)}">
    <span th:text="${nowPage}-1"/></a>
  <a th:if="${nowPage >= 1}" th:href="@{/admin/product/author/connection/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage}-1)}">
    <span th:text="${nowPage}"/></a>

  <a  th:if="${nowPage+1 != totalPage}" th:href="@{/admin/product/author/connection/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage})}">
    <span th:text="${nowPage}+1"/></a>

  <a th:if="${nowPage + 2 < totalPage}" th:href="@{/admin/product/author/connection/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage}+1)}">
    <span th:text="${nowPage}+2"/></a>
  <a th:if="${nowPage + 3 < totalPage}" th:href="@{/admin/product/author/connection/{productNo}/{nowPage} (productNo=${productNo}, nowPage=${nowPage}+2)}">
    <span th:text="${nowPage}+3"/></a>

  <span th:if="${nowPage + 3 < totalPage}">...</span>

  <a th:href="@{/admin/product/author/connection/{productNo}/{totalPage} (productNo=${productNo}, totalPage=${totalPage}-1)}">
    <span th:text="${totalPage}"/></a>
</div>
</body>
</html>