<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/default}">
<head>
  <title th:text="${product.info.title}"></title>
</head>
<!---->
<th:block layout:fragment="content">

  <div class="container-xl">
    <div class="card card-lg">
      <div class="card-body">
        <div class="row">

          <!--          사진 부분-->
          <div class="col-4">
            <!--            -->
            <img th:src="@{/storage/{objectFileId} (objectFileId = ${product.info.objectFileId})}"/>

            <!--          -->
          </div>
          <!--          안내 부분-->
          <div class="col-8 text-left">
            <p class="h3" th:text="${product.info.title}"></p>
            <p class="h4" th:utext="${product.info.shortDescription}"></p>


            <p th:if="${!product.info.selling}" class="btn btn-danger w-5 h-2">품절</p>
            <p class="mt-4" style="line-height: 5px">
              <span class="badge bg-azure">저자</span>
              <span th:unless="${product.authors == null}"
                    th:text="${#strings.arrayJoin(product.getAuthorNameList(), ', ')}"></span>
            </p>

            <th:block th:unless="${product.detail} == null">

              <p style="line-height: 5px">
                <span class="text-success">출판사</span>
                <span th:text="${product.detail.publisher}"></span>
              </p>

              <p style="line-height: 5px">
                <span class="text-success">출판일</span>
                <span th:text="${product.detail.publishedDate}"></span>
              </p>

              <p style="line-height: 5px">
                <span class="text-success">pages</span>
                <span th:text="${product.detail.page}"></span>
              </p>

              <p style="line-height: 5px">
                <span class="text-success">ISBN</span>
                <span th:text="${product.detail.isbn}"></span>
              </p>

            </th:block>

            <th:block th:unless="${product.subscribe} == null">

              <p style="line-height: 5px">
                <span class="text-success">출판사</span>
                <span th:text="${product.subscribe.publisher}"></span>
              </p>

            </th:block>

            <hr/>

            <p style="line-height: 5px">
              <th:block th:if="${product.info.pointMethod}">
                <span class="text-info">적립률</span>
                <span th:text="${product.info.pointRate}"></span>
                <span>%</span>
              </th:block>
              <th:block th:if="${!product.info.pointMethod}">
                <span class="text-info">미적립 상품</span>
              </th:block>
            </p>

            <p style="line-height: 5px">
              <span class="text-info">태그</span>
              <span th:unless="${product.tags == null}"
                    th:text="${#strings.arrayJoin(product.getTagList(), ', ')}"></span>
            </p>

            <p style="line-height: 5px">
              <span class="text-info">가격</span>
              <span th:text="${#numbers.formatCurrency(product.info.price)}"></span>
            </p>

            <br>

            <div style="display: flex;">
              <input style="margin-right:10px;" class="btn btn-outline-primary btnAtVar"
                     th:id="${productNo}" type="button"
                     value="태그 등록 팝업창 호출"
                     onclick="showTagRegisterPopup(id);"/>

              <form style="margin-right:10px;" th:if="${product.detail != null}" method="get"
                    th:action="@{/admin/product/update/books/{productId} (productId = ${productNo})}">
                <input class="btn btn-outline-primary" type="submit" value="수정"/>
              </form>

              <form style="margin-right:10px;" th:if="${product.subscribe != null}" method="get"
                    th:action="@{/admin/product/update/subscribes/{productId} (productId = ${productNo})}">
                <input class="btn btn-outline-primary" type="submit" value="수정"/>
              </form>

              <form method="post"
                    th:if="${!product.info.deleted}"
                    th:action="@{/admin/product/delete/{productId} (productId = ${productNo})}">
                <input class="btn btn-outline-danger" type="submit" value="삭제"/>
              </form>

              <form method="post"
                    th:if="${product.info.deleted}"
                    th:action="@{/admin/product/delete/{productId} (productId = ${productNo})}">
                <input class="btn btn-outline-primary" type="submit" value="복구"/>
              </form>

            </div>
          </div>

          <div class="col-12 my-4">
            <h1>관련 분류</h1>

            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><span>국내도서</span></li>
              <li class="list-inline-item"><span class="text-blue">소설</span></li>
            </ul>

            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><span>국내도서</span></li>
              <li class="list-inline-item"><span class="text-blue">소설</span></li>
            </ul>

            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item"><span>국내도서</span></li>
              <li class="list-inline-item"><span class="text-blue">소설</span></li>
            </ul>
          </div>

          <!--          연관 상품 시작-->
          <div class="row row-cards">
            <div class="card-header">
              <h1>연관 상품</h1>
              </br>
              <input class="btn btn-outline-primary" th:id="${product.info.id}" type="button"
                     value="연관 상품 추가"
                     style="margin-left:4rem;"
                     onclick="showRecommendRegisterPopup(id);"/>
            </div>
            <th:block th:each="item : ${recommendProducts}">
              <div class="col-sm-4 col-lg-2">
                <div class="card card-sm">
                  <a th:href="@{/product/view/{productId} (productId = ${item.productId})}"
                     class="d-block">
                    <div class="text-center" style="width:auto; min-height:200px; margin: auto;">
                      <img class="product-img"
                           style="max-height: 413px; width: 95%; margin-top:10px;"
                           th:src="@{/storage/{objectFileId} (objectFileId = ${item.objectFileId})}"/>
                    </div>
                  </a>
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div>
                        <div><a th:text="${item.title}"
                                th:href="@{/product/view/{productId} (productId = ${item.productId})}"></a>
                        </div>
                        <div class="text-muted">
                          <th:block th:each="author : ${item.authors}">
                            <span th:text="${author.name}"/>
                          </th:block>
                        </div>
                        <div class="text-muted"
                             th:text="${#numbers.formatCurrency(item.price)}"></div>
                        <div class="text-muted" th:text="${item.publisher}"></div>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <p th:if="${!item.selling}" class="btn btn-danger w-5 h-2">품절</p>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
          <!--          연관 상품 종료-->
          <!--/* 책 소개 */-->
          <div class="col-12 my-4">
            <h1>책 소개</h1>
            <p th:utext="${product.info.longDescription}"></p>
          </div>
          <!--/* 책 소개 */-->

          <!--          구독 상품 자식 상품 시작-->
          <th:block th:if="${product.subscribe != null}">
            <div class="row row-cards">
              <div class="card-header">
                <h1>구독 대상 상품</h1>
                <input class="btn btn-outline-primary" th:id="${product.subscribe.id}" type="button"
                       value="구독 상품에 책 추가" style="margin-left:4rem;"
                       onclick="showBookSubscribeRegisterPopup(id);"/>
                <hr>
              </div>
              <th:block th:each="item : ${booksAtSubscribe}">
                <div class="col-sm-4 col-lg-2">
                  <div class="card card-sm">
                    <a th:href="@{/product/view/{productId} (productId = ${item.productId})}"
                       class="d-block">
                      <div class="text-center" style="width:auto; min-height:200px; margin: auto;">
                        <img class="product-img"
                             style="max-height: 413px; width: 95%; margin-top:10px;"
                             th:src="@{/storage/{objectFileId} (objectFileId = ${item.objectFileId})}"/>
                      </div>
                    </a>
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <div>
                          <div><a th:text="${item.title}"
                                  th:href="@{/product/view/{productId} (productId = ${item.productId})}"></a>
                          </div>
                          <div class="text-muted">
                            <th:block th:each="author : ${item.authors}">
                              <span th:text="${author.name}"/>
                            </th:block>
                          </div>
                          <div class="text-muted"
                               th:text="${#numbers.formatCurrency(item.price)}"></div>
                          <div class="text-muted" th:text="${item.publisher}"></div>
                        </div>
                      </div>
                      <div class="ms-auto">
                        <p th:if="${!item.selling}" class="btn btn-danger w-5 h-2">품절</p>
                      </div>
                    </div>
                  </div>
                </div>
              </th:block>
            </div>
          </th:block>
          <!--          구독 상품 자식 상품 종료-->

        </div>

        <button class="btn btn-outline-primary" onclick="history.back()">뒤로가기</button>

      </div>
    </div>
  </div>

  <script>
    function showTagRegisterPopup(productNo) {
      window.open("/admin/product/tag/connection/" + productNo, "a",
          "width=450, height=700, left=100, top=50");
    }

    function showBookSubscribeRegisterPopup(subscribeId) {
      window.open("/admin/product/subscribes/connect/" + subscribeId, "a",
          "width=1000, height=550, left=100, top=50");
    }

    function showRecommendRegisterPopup(productNo) {
      window.open("/admin/product/recommend/" + productNo, "a",
          "width=750, height=550, left=100, top=50");
    }
  </script>
</th:block>
<!---->
</html>