<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/blank}">
<head>
    <meta charset="UTF-8">
    <title>북레이 - 배송지 등록</title>
</head>

<th:block layout:fragment="content">

    <div class="card container container-tight py-4">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h2 class="card-title text-center mb-4">배송지 등록</h2>
            <form action="/member/profile/address/register" method="post">

                <div class="mb-3">
                    <label class="form-label">배송지 이름</label>
                    <input type="text" name="name" class="form-control" placeholder="배송지 이름" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">우편번호</label>
                    <div class="row g-2">
                        <div class="col">
                            <input type="text" id="sample6_postcode" name="zipCode" class="form-control" placeholder="우편번호"
                                   required>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-primary" onclick="sample6_execDaumPostcode()"> 우편번호 찾기</button>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">주소</label>
                    <input type="text" id="sample6_address" name="address" placeholder="상세주소" class="form-control"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">상세주소</label>
                    <input type="text" id="sample6_detailAddress" name="addressDetail" placeholder="주소"
                           class="form-control"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">참고항목</label>
                    <input type="text" id="sample6_extraAddress" name="addressSubDetail" placeholder="참고항목"
                           class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">수령인</label>
                    <input type="text" name="receiver" placeholder="수령인" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">수령인 전화번호</label>
                    <input type="text" name="receiverPhoneNo" placeholder="숫자만 입력" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">기본 배송지 여부</label>
                    설정 <input type="radio" value="true" name="isDefaultDestination">
                    해제 <input type="radio" value="false" name="isDefaultDestination" checked>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">등록하기</button>
                </div>

            </form>

        </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    var addr = '';
                    var extraAddr = '';

                    if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    </script>
</th:block>
</html>
