<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/blank}">
<head>
    <meta charset="UTF-8">
    <title>회원 주소 수정</title>
</head>
<th:block layout:fragment="content">

    <div class="card container container-tight py-4">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h2 class="card-title text-center mb-4">배송지 수정</h2>
            <form th:action="@{/member/profile/address/update/{addressNo}(addressNo=${address.getId()})}" method="post">

                <div class="mb-3">
                    <label class="form-label">배송지 이름</label>
                    <input type="text" name="name" class="form-control" th:value="${address.getName()}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">우편번호</label>
                    <div class="row g-2">
                        <div class="col">
                            <input type="text" id="sample6_postcode" name="zipCode" class="form-control"
                                   th:value="${address.getZipCode()}"
                                   required>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-primary" onclick="sample6_execDaumPostcode()"> 우편번호 찾기
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">주소</label>
                    <input type="text" id="sample6_address" name="address" th:value="${address.getAddress()}"
                           class="form-control"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">상세주소</label>
                    <input type="text" id="sample6_detailAddress" name="addressDetail"
                           th:value="${address.getAddressDetail()}" class="form-control"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">참고항목</label>
                    <input type="text" id="sample6_extraAddress" name="addressSubDetail"
                           th:value="${address.getAddressSubDetail()}"
                           class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">수령인</label>
                    <input type="text" name="receiver" th:value="${address.getReceiver()}" class="form-control"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">수령인 전화번호</label>
                    <input type="text" name="receiverPhoneNo" th:value="${address.getReceiverPhoneNo()}"
                           class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">기본 배송지 여부</label>
                    설정 <input type="radio" value="true" name="isDefaultDestination"
                              th:checked="${address.getIsDefaultDestination().equals(true)}">
                    해제 <input type="radio" value="false" name="isDefaultDestination"
                              th:checked="${address.getIsDefaultDestination().equals(false)}"><br>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">수정하기</button>
                </div>

            </form>

        </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    var addr = '';
                    var extraAddr = '';

                    if (data.userSelectedType === 'R') {
                        addr = data.roadAddress;
                    } else {
                        addr = data.jibunAddress;
                    }

                    if(data.userSelectedType === 'R'){
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        document.getElementById("sample6_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    </script>
    </div>
</th:block>
</html>
