<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 수정하기</title>
</head>
<body>
<div>
    <h3>[회원 수정하기]</h3>
    <form th:action="@{/members/update/{memberNo}(memberNo=${memberNo})}" method="post" name="MemberUpdateRequest">
        <b>닉네임</b> : <input type="text" name="nickname" th:value="${member.getNickname()}"><br>
        <b>이름</b> : <input type="text" name="name" th:value="${member.getName()}"><br>
        <b>성별</b> :
        여 <input type="radio" value="F" name="gender"
                 th:checked="${member.getGender().equals('F')}">
        남 <input type="radio" value="M" name="gender"
                 th:checked="${member.getGender().equals('M')}"><br>

        <b>비밀번호</b> : <input type="password" name="password"><br>
        <b>전화번호</b> : <input type="text" name="phoneNo" th:value="${member.getPhoneNo()}"><br>
        <b>이메일 주소</b> : <input type="text" name="email" th:value="${member.getEmail()}"><br>
        <b>생년월일</b> : <input type="date" name="birthday" th:value="${member.getBirthday()}"><br>
        <input type="submit" value="수정하기"/>
        <input type="button" value="취소" onclick="window.close()">
    </form>
</div>
</body>
</html>
