<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/profile}">
<head>
    <meta charset="UTF-8">
    <title>포인트 쿠폰 내역</title>
    <script src="/js/member/pointCouponPopup.js"></script>
</head>

<th:block layout:fragment="content">
    <div>
        <h1>[포인트 쿠폰 내역 조회]</h1>
        <div class="card">
            <div class="table-responsive">
                <table class="table table-vcenter card-table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>쿠폰 이름</th>
                        <th>금액</th>
                        <th>전환여부</th>
                    </tr>
                    </thead>
                    <tbody th:each="coupon, couponStat :${list}">
                    <tr>
                        <td th:text="${couponStat.count}"></td>
                        <td th:text="${coupon.getName()}"></td>
                        <td th:text="${coupon.getAmount()}"></td>
                        <td>
                            <button class="btn btn-outline-primary" th:id="${coupon.getCouponId()}"
                                    onclick="showPointCouponConvertPopup(this.getAttribute('id'))">전환하기
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>
