<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/profile}">
<head>
    <meta charset="UTF-8">

    <title>북레이 - 배송지 목록</title>
    <script src="/js/member/addressCUPopup.js"></script>
</head>

<th:block layout:fragment="content">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">배송지 목록</h2>
            </div>
            <div class="col">
                <div class="text-end">
                    <a th:href="@{/member/profile}">Home</a>
                    <span> > </span>
                    <a th:href="@{/member/profile/address}">배송지 목록</a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="text-end">
                <div class="card-actions">
                    <button class="btn btn-primary" onclick="showAddressCreatePopup()">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 5l0 14"></path>
                            <path d="M5 12l14 0"></path>
                        </svg>
                        배송지 추가하기
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="page-body">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-vcenter card-table">
                    <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">이름</th>
                        <th scope="col">우편번호</th>
                        <th scope="col">주소</th>
                        <th scope="col">상세주소</th>
                        <th scope="col">참고항목</th>
                        <th scope="col">수령인</th>
                        <th scope="col">수령인 전화번호</th>
                        <th scope="col">기본 배송지 여부</th>
                        <th scope="col">수정하기</th>
                        <th scope="col">삭제하기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="address, addressStat :${addresses}">
                        <td th:text="${addressStat.count}"></td>
                        <td th:text="${address.getName()}"></td>
                        <td th:text="${address.getZipCode()}"></td>
                        <td th:text="${address.getAddress()}"></td>
                        <td th:text="${address.getAddressDetail()}"></td>
                        <td th:text="${address.getAddressSubDetail()}"></td>
                        <td th:text="${address.getReceiver()}"></td>
                        <td th:text="${address.getReceiverPhoneNo()}"></td>
                        <td>
                            <span th:if="${address.getIsDefaultDestination()}">O</span>
                            <span th:unless="${address.getIsDefaultDestination()}">X</span>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" th:id="${address.getId()}"
                                    onclick="showAddressUpdatePopup(this.getAttribute('id'))">수정하기
                            </button>
                        </td>
                        <td>
                            <a th:href="@{/member/profile/address/delete/{addressNo}(addressNo=${address.getId()})}">
                                <button class="btn btn-outline-danger">삭제하기</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>
