<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/profile}">
<head>
    <meta charset="UTF-8">
    <title>북레이 - 포인트 선물</title>
</head>

<th:block layout:fragment="content">

    <!-- Page Header -->
    <div class="page-header">
        <div class="col">
            <a th:href="@{/member/profile}">Home</a>
            <span> > </span>
            <a th:href="@{/member/profile/address}">포인트 선물하기</a>
        </div>
        <div class="row g-2 align-items-center">
            <div class="col">
                <span style="font-size: 27px" class="fw-bold">포인트 선물하기</span>
            </div>
        </div>
    </div>

    <div class="card container container-tight py-4">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h2 class="card-title text-center mb-4">포인트 선물하기</h2>
            <form action="/member/profile/point/present" method="post">

                <div class="mb-3">
                    <label class="form-label">선물 대상 사용자 ID</label>
                    <input type="text" name="targetMemberId" class="form-control" placeholder="Id" required>
                </div>

                <div class="mb-3">
                    <label class="form-label" style="display: inline">선물할 포인트</label>
                    (현재 보유 포인트: <span th:text="${totalPoint.getTotalPoint()}"></span>p)
                    <input type="text" name="targetPoint" class="form-control" placeholder="숫자만 입력" required>
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">선물하기</button>
                </div>
            </form>
        </div>
    </div>
</th:block>
</html>
