<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Detail</title>
    <script src="/js/member/memberUDPopup.js"></script>
</head>
<body>
<div>
    <h3>[회원 개인정보]</h3>
    <b>이름</b> : <span th:text="${member.getName()}"></span><br>
    <b>아이디</b> : <span th:text="${member.getMemberId()}"></span><br>
    <b>닉네임</b> : <span th:text="${member.getNickname()}"></span><br>
    <b>성별</b> : <span th:if="${member.getGender().equals('F')}">여</span>
    <span th:if="${member.getGender().equals('M')}">남</span>
    <br>
    <b>생년월일</b> : <span th:text="${member.getBirthday()}"></span><br>
    <b>전화번호</b> : <span th:text="${member.getPhoneNo()}"></span><br>
    <b>이메일주소</b> : <span th:text="${member.getEmail()}"></span><br>
    <b>주소</b> :
    <button><a th:href="@{/address/{memberNo}(memberNo=${memberNo})}">주소록으로 이동</a></button>
    <br>
    <br>

    <input type="button" value="수정하기" th:id="${memberNo}" onclick="showMemberUpdatePopup(this.getAttribute('id'))">
    <input type="button" value="탈퇴하기" th:id="${memberNo}" onclick="showMemberDropPopup(this.getAttribute('id'))">
</div>
</body>
</html>