<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 포인트 내역</title>
</head>
<body>
<div>
    <h3>[포인트 내역 조회]</h3>
    <table border="1">
        <thead>
        <tr>
            <th>번호</th>
            <th>적립 포인트</th>
            <th>누적 포인트</th>
            <th>적립 일시</th>
            <th>적립 내용</th>
        </tr>
        </thead>
        <tbody th:each="point, pointStat :${pointList}">
        <tr>
            <td th:text="${pointStat.count}"></td>
            <td th:text="${point.getPoint()}"></td>
            <td th:text="${point.getTotalPoint()}"></td>
            <td th:text="${#temporals.format(point.getUpdatedAt(),'yyyy년 MM월 dd일 HH시 mm분')}"></td>
            <td th:text="${point.getUpdatedDetail()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
