<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Register</title>
</head>
<body>
<div>
    <form method="post" action="/admin/categories">
        <h1>카테고리 등록 정보</h1>
        <label> 카테고리 번호
            <input type="number" name="id"/>
        </label> <br/>
        <label>
            상위 카테고리 번호
            <input type="number" name="parentCategoryId" placeholder="없을 시, 0 혹은 빈칸"/>
        </label> <br/>
        <label> 카테고리 이름
            <input type="text" name="name"/>
        </label> <br/>
        <div>
            노출 여부 :
            <input type="radio" id="yes" name="isExposure" value="true"
                   checked>
            <label for="yes">Y</label>
            <input type="radio" id="no" name="isExposure" value="true">
            <label for="no">N</label>
        </div>
        <br/>
        <input type="submit" value="제출">
    </form>
</div>
</body>
</html>