
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/admin}">
<head>
    <title>카테고리 추가</title>

</head>
<!---->
<th:block layout:fragment="content">
    <div class="card container container-tight py-4">
        <div class="card-header">
            <h1>카테고리 등록</h1>
        </div>
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Create New Category</h2>
            <form th:action="@{/admin/categories}" method="post" >

                <div class="mb-3">
                    <label class="form-label">카테고리 번호</label>
                    <input type="number" name="id" class="form-control" placeholder="Enter ID" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">상위 카테고리 번호</label>
                    <input type="number" name="parentCategoryId" class="form-control" placeholder="Enter Parent Category ID, 없을 시 0 혹은 빈칸" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">ID</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter Name" required>
                </div>

                <div class="custom-radio">
                    노출 여부 :
                    <input type="radio" id="yes" name="isExposure" value="true"
                           checked>
                    <label for="yes">Y</label>
                    <input type="radio" id="no" name="isExposure" value="true">
                    <label for="no">N</label>
                </div>
                <br/>

                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Create new account</button>
                </div>

            </form>

        </div>
    </div>
</th:block>
<!---->
</html>

