<!--/* admin 레이아웃을 사용하는 템플릿*/-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/thymeleaf/layout/admin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        a {
            text-decoration: none;
            color: black;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:focus {
            text-decoration: none;
        }

        a:hover, a:active {
            text-decoration: none;
        }
    </style>
</head>
<!---->
<th:block layout:fragment="content">
    <div>
        <h1>카테고리 리스트</h1>

        <div>
            <button type="button">
                <a href="/admin/categories/create">
                    카테고리 추가하기
                </a>
            </button>
        </div>

        <table>
            <thead>
            <tr>
                <th>카테고리 번호</th>
                <th>상위 카테고리</th>
                <th>카테고리 이름</th>
                <th>카테고리 깊이</th>
                <th>노출 여부</th>
                <th>수정하기</th>
                <th>삭제하기</th>
            </tr>
            </thead>

            <tbody th:each="category : ${list}">
            <tr>

                <td>
                    <label>
                        <span th:text="${category.id}"></span>
                    </label>
                </td>

                <td>
                    <label th:if="${category.getParentCategoryId()} == null">
                        <span th:text="없음"></span>
                    </label>
                    <label th:unless="${category.getParentCategoryId() == null}">
                        <span th:text="${category.getParentCategoryId()}"></span>
                    </label>
                </td>

                <td>
                    <label>
                        <span th:text="${category.name}"></span>
                    </label>
                </td>

                <td>
                    <label>
                        <span th:text="${category.depth}"></span>
                    </label>
                </td>

                <td>
                    <label class="exposure-text">
                        <span th:text="${category.isExposure}"></span>
                    </label>
                </td>

                <td>
                    <form th:action="@{/admin/categories/{categoryId}/update(categoryId=${category.id})}" th:method="get">
                        <button type="submit">수정</button>
                    </form>
                </td>

                <td>
                    <form th:action="@{/admin/categories/{categoryId}(categoryId=${category.id})}" th:method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <th:block th:if="${list.isEmpty()}">
            <h2>등록된 카테고리가 없습니다.</h2>
        </th:block>

        <!--    페이지네이션 번호-->
        <th:block th:replace="thymeleaf/fragments/pagination :: pagination">
        </th:block>

    </div>
    <!--/* 프레그먼트 내용 작성 */-->
</th:block>
<!---->
</html>
