<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>카테고리 리스트</h1>
    <table>
        <thead>
            <tr>
                <th>카테고리 번호</th>
                <th>상위 카테고리</th>
                <th>카테고리 이름</th>
                <th>카테고리 깊이</th>
                <th>노출 여부</th>
                <th>수정하기</th>
            </tr>
        </thead>
        <tbody th:each="category : ${categories}">
            <tr style="align-content: center">
                <td th:text="${category.id}"></td>
                <td th:if="${category.getParentCategoryId()} == null" th:text="없음"></td>
                <td th:unless="${category.getParentCategoryId() == null}" th:text="${category.getParentCategoryId()}"></td>
                <td th:text="${category.name}"></td>
                <td th:text="${category.depth}"></td>
                <td th:text="${category.isExposure}"></td>
                <td>
                    <button type="button" th:id="'update_button_'+${category.id}">
                        수정
                    </button>
                </td>
                <td>
                    <form th:action="@{/admin/categories/{id}(id=${category.id})}" th:method="get">
                        <button type="submit" id="delete_category">
                            삭제
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 th:if="${categories.isEmpty()}">등록된 카테고리가 없습니다.</h2>
</div>
</body>
</html>