<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="/js/coupon/couponCreateForm.js"></script>
    <style>
        .hidden{
            visibility: hidden;
        }
    </style>
</head>
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <form action="" method="post" enctype="multipart/form-data">
            <label>쿠폰 이름 : <input type="text" name="name" th:value="${couponTemplateDetail.name}"> </label> <br/>
            쿠폰 종류 : <select type="number" name="typeCode">
            <arc th:each="couponType:${couponTypeList}">
                <custom2 th:if="${couponType.id == couponTemplateDetail.typeCode}">
                    <option th:value="${couponType.id}" th:text="${couponType.name}" selected></option>
                </custom2>
                <custom2 th:if="${couponType.id != couponTemplateDetail.typeCode}">
                    <option th:value="${couponType.id}" th:text="${couponType.name}"></option>
                </custom2>
            </arc>
        </select><br/>
            <label>할인량 : <input type="number" name="amount" th:value="${couponTemplateDetail.amount}"></label> <br/>
            주문 쿠폰 여부<br/>
            <th:block th:if="${couponTemplateDetail.isOrderCoupon}">
                <label>주문 쿠폰 : <input id="isOrderCoupon" type="radio" name="isOrderCoupon" value="true" checked></label>
                <label>상품 쿠폰 : <input id="isProductCoupon" type="radio" name="isOrderCoupon" value="false"></label>
                <br/>
                <span >
                    <label id="categorySelectorLabel">적용 카테고리 번호 : <input id="categorySelector" type="number" name="applyItemId" th:value="${couponTemplateDetail.applyItemId}"></label>
                    <label id="itemSelectorLabel" class="hidden">적용 상품 번호 : <input id="itemSelector" type="number" name="disable"></label>
                    <br/>
                </span>
            </th:block>
            <th:block th:if="${!couponTemplateDetail.isOrderCoupon}">
                <label>주문 쿠폰 : <input id="isOrderCoupon" type="radio" name="isOrderCoupon" value="true"></label>
                <label>상품 쿠폰 : <input id="isProductCoupon" type="radio" name="isOrderCoupon" value="false" checked></label>
                <br/>
                <span >
                    <label id="categorySelectorLabel">적용 카테고리 번호 : <input id="categorySelector" type="number" name="disable"></label>
                    <label id="itemSelectorLabel" class="hidden">적용 상품 번호 : <input id="itemSelector" type="number" name="applyItemId" th:value="${couponTemplateDetail.applyItemId}"></label>
                    <br/>
                </span>
            </th:block>
            <label>최소 사용 금액 : <input type="number" name="minimumUseAmount"  th:value="${couponTemplateDetail.minimumUseAmount}"></label> <br/>
            <label>최대 할인 금액 : <input type="number" name="maximumDiscountAmount" th:value="${couponTemplateDetail.maximumDiscountAmount}"></label> <br/>
            <label>발급 기한 일시 : <input type="datetime-local" name="issuanceDeadline" th:value="${couponTemplateDetail.issuanceDeadlineAt}"></label> <br/>
            <label>발급 후 유효 기한 : <input type="number" name="validateTerm" th:value="${couponTemplateDetail.validateTerm}"></label><br/>
            중복 사용 가능 여부<br/>
            <th:block th:if="${couponTemplateDetail.isDuplicatable}">
                <label>중복 사용 가능 : <input type="radio" name="isDuplicatable" value="true" checked></label>
                <label>중복 사용 불가 : <input type="radio" name="isDuplicatable" value="false"></label> <br/>
            </th:block>
            <custum th:if="${!couponTemplateDetail.isDuplicatable}">
                <label>중복 사용 가능 : <input type="radio" name="isDuplicatable" value="true"></label>
                <label>중복 사용 불가 : <input type="radio" name="isDuplicatable" value="false" checked></label> <br/>
            </custum>
            <label>쿠폰 이미지 : <input type="file" accept="image/*" name="couponImage"></label><br/>
            <input type="submit">
        </form>
    </div>
</html>