<th:block th:fragment="pagination" xmlns:th="http://www.thymeleaf.org">
  <!--/* 프레그먼트 내용 작성 */-->
  <div class="col-auto m-auto pe-auto" th:unless="${reviewPage} == null or ${reviewTotalPage} == null">
    <ul class="pagination">
    <li class="page-item" th:classappend="${reviewPage - 3 < 0}? disabled">
      <a class="page-link" th:href="@{__${currentUrl}__(reviewPage=${reviewPage} - 3)}">
        <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
      </a>
    </li>
    <li class="page-item" th:classappend="${reviewPage - 2 < 0}? invisible">
      <a class="page-link" th:href="@{__${currentUrl}__(reviewPage=${reviewPage} - 2)}" th:text="${reviewPage} - 1">
      </a>
    </li>
    <li class="page-item" th:classappend="${reviewPage - 1 < 0}? invisible">
      <div class="list-item">
        <a class="page-link" th:href="@{__${currentUrl}__(reviewPage=${reviewPage} - 1)}" th:text="${reviewPage}">
        </a>
      </div>
    </li>
    <li class="page-item active">
      <a class="page-link" th:href="@{__${currentUrl}__(reviewPage=${reviewPage})}" th:text="${reviewPage} + 1">
      </a>
    </li>
    <li class="page-item" th:classappend="${reviewPage + 1 >= reviewTotalPage}? invisible">
      <a class="page-link" th:href="@{__${currentUrl}__(reviewPage=${reviewPage} + 1)}" th:text="${reviewPage} + 2">
      </a>
    </li>
    <li class="page-item" th:classappend="${reviewPage + 2 >= reviewTotalPage}? invisible" >
      <a class="page-link" th:href="@{__${currentUrl}__(reviewPage=${reviewPage} + 2)}" th:text="${reviewPage} + 3">
      </a>
    </li>
    <li class="page-item" th:classappend="${reviewPage + 3 >= reviewTotalPage}? disabled" >
      <a class="page-link" th:href="@{__${currentUrl}__(reviewPage=${reviewPage} + 3)}">
        <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
      </a>
    </li>
  </ul>
  </div>

</th:block>
