<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/profile}">
<head>
    <title>쿠폰함</title>
    <script src="/js/member/addressCUPopup.js"></script>
    <link href="/css/coupon/couponStyle.css" rel="stylesheet">
</head>

<th:block layout:fragment="content">
    <div th:if="${#lists.isEmpty(list)}">
        <div>소유한 쿠폰이 없습니다.</div>
        <a href="/coupon-zone">쿠폰 받으러 가기</a>
    </div>
    <div th:unless="${#lists.isEmpty(list)}">
        <th:block th:each="item : ${list}">
            <article class="card fl-left">
                <section class="date">
                    <time datetime="23th feb">
                        <span th:text="${item.amount}"></span>
                        <span th:if="${#strings.contains(item.couponType, '정율')}">
                            <span>%</span>
                        </span>
                        <span th:unless="${#strings.contains(item.couponType, '정율')}">
                            <span>원</span>
                        </span>
                    </time>
                </section>
                <section class="card-cont">
                    <h3 th:text="${item.name}"></h3>
                    <div class="even-info">
                        <i class="fa fa-calendar"></i>
                        <time>
                            <span>
                                <span>최대 </span>
                                <span th:text="${item.amount}"></span>
                                <span>원 할인</span>
                            </span><br/>
                            <span th:if="${item.expiredAt == null}">
                                기간 무제한
                            </span>
                            <span th:if="${item.expiredAt != null}">
                                <span th:text="${#temporals.format(item.expiredAt, 'yyyy년 MM월 dd일 HH:mm:ss')}"></span>
                                <span>까지 사용 가능</span>
                            </span>
                        </time>
                    </div>
                    <div class="even-info">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            nexen square for people australia, sydney
                        </p>
                    </div>
                    <span th:else="${item.isUsed}">
                        <a class="able">사용가능</a>
                    </span>
                    <span th:if="${item.isUsed}">
                        <a class="disable">사용됨</a>
                    </span>
                </section>
            </article>
        </th:block>
    </div>
</th:block>
