<!DOCTYPE html>
<html lang="ko">
<script th:inline="javascript">
    const couponTypeList = [[${couponTypeList}]];
    function updateClickEvent(){
        if (this.classList.contains("editing")){
            this.classList.remove("editing");
            this.innerText = "수정";
            let nameTd = this.parentElement.parentElement.children.item(1);
            let value = nameTd.firstElementChild.value;
            nameTd.innerHTML = '<p>'+value+'</p>';
        }else{
            this.classList.add("editing");
            this.innerText = "수정중";
            let nameTd = this.parentElement.parentElement.children.item(1);
            console.log(nameTd);
            console.log(this.parentElement.children);
            console.log(this.parentElement);
            nameTd.innerHTML = '<input value="'+nameTd.firstElementChild.innerHTML+'">';
            console.log(nameTd.firstElementChild.innerHTML);
        }
    }
    window.onload = function (){
        couponTypeList.forEach(value => {
            let couponType = document.getElementById(value.id+"update");
            couponType.addEventListener("click", updateClickEvent);
        });
    }
</script>
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <table>
            <tr>
                <td>쿠폰 타입 ID</td>
                <td>쿠폰 타입 이름</td>
                <td></td>
                <td></td>
            </tr>
        <tbody th:each="couponType:${couponTypeList}">
            <tr>
                <td><p th:text="${couponType.id}"></p></td>
                <td><p th:text="${couponType.name}"></p></td>
                <td><button th:id="${couponType.id+'update'}">수정</button></td>
                <td><a th:href="${'/admin/coupon/types/delete/'+couponType.id}">삭제</a></td>
            </tr>
        </tbody>

        </table>
    </div>

</html>