<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="/plugins/tabler/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-flags.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-payments.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/tabler-vendors.min.css" rel="stylesheet"/>
    <link href="/plugins/tabler/dist/css/demo.min.css" rel="stylesheet"/>

</head>

<body>


<!-- Libs JS -->
<script src="/plugins/tabler/dist/libs/nouislider/dist/nouislider.min.js"></script>
<script src="/plugins/tabler/dist/libs/tom-select/dist/js/tom-select.base.min.js"></script>
<script src="/plugins/tabler/dist/libs/litepicker/dist/litepicker.js"></script>
<script src="/plugins/tabler/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
<!-- Tabler Core -->
<script src="/plugins/tabler/dist/js/tabler.min.js"></script>
<script src="/plugins/tabler/dist/js/demo.min.js"></script>

</body>
</html>
