<!DOCTYPE html>
<head>
    <title>쿠폰 수정</title>
    <link href="/css/form.css" rel="stylesheet">
    <script src="/js/coupon/couponCreateForm.js"></script>
    <script src="/js/coupon/couponPopup.js"></script>
</head>
<html lang="ko">

    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <form action="" method="post" enctype="multipart/form-data">
            <label>쿠폰 이름 : <input type="text" name="name" th:value="${couponDetail.name}"> </label><br/>
            <label>쿠폰 종류 :
            <select type="number" name="typeCode" id="coupon-type" onchange="changeByType()">
                <th:block th:each="couponType:${couponTypeList}">
                    <option th:value="${couponType.id}" th:text="${couponType.name}" th:checked="${#strings.equals(couponType.name, couponDetail.typeName)}"></option>
                </th:block>
            </select><br/>
            <label>할인량 : <input type="number" name="amount" th:value="${couponDetail.amount}"></label><br/>
                <div id="select-item">
                    <label for="coupon-range">적용 범위</label>
                    <select id="coupon-range" onchange="changeByRange()" name="isOrderCoupon">
                        <option value="1" selected>주문 쿠폰</option>
                        <option value="0">상품 쿠폰</option>
                    </select><br/>
                    <span>
                    <label id="apply-item-label" for="apply-item">적용 카테고리 번호</label><input type="number" name="applyItemId" id="apply-item">
                </span>
                    <input type="button" value="찾기" id="item-search-button" onclick="showCategoryPopup()">
                    <br/>
                </div>
            <label>최소 사용 금액 : <input type="number" name="minimumUseAmount" th:value="${couponDetail.minimumUseAmount}"></label><br/>
            <label>최대 할인 금액 : <input type="number" name="maximumDiscountAmount" th:value="${couponDetail.maximumDiscountAmount}"></label><br/>
            <label>발급 기한 일시 : <input type="datetime-local" name="issuanceDeadlineAt" th:value="${couponDetail.issuanceDeadlineAt}"></label><br/>
            <label>중복 사용 가능 여부 : <input type="checkbox" name="isDuplicatable" th:value="${couponDetail.isDuplicatable}"></label><br/>
            <input type="submit">
        </form>
    </div>
</html>