<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/admin}">
<head>
    <title>[관리자] 쿠폰 수정</title>
    <script src="/js/coupon/couponCreateForm.js"></script>
    <script src="/js/coupon/couponPopup.js"></script>
</head>

<th:block layout:fragment="content">
    <div class="card-header">
        <h4 class="card-title">쿠폰 수정</h4>
    </div>

    <div class="row row-cards">
        <div class="col-12">

            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md col-xl-3">
                            <div class="mb-3">
                                <label class="form-label">쿠폰 이름</label>
                                <input class="form-control" type="text" name="name" th:value="${couponDetail.name}"
                                       required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">쿠폰 종류</label>
                                <select class="form-select" type="number" name="typeCode" id="coupon-type"
                                        onchange="changeByType()" required>
                                    <th:block th:each="couponType:${couponTypeList}">
                                        <option th:value="${couponType.id}" th:text="${couponType.name}"
                                                th:selected="${#strings.equals(couponType.name, couponDetail.typeName)}">
                                        </option>
                                    </th:block>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">할인량</label>
                                <input class="form-control" type="number" name="amount" th:value="${couponDetail.amount}" required>
                            </div>

                            <div id="select-item"
                                 th:style="${couponDetail.typeName == '포인트' ? 'display: none' : 'display: block'}">
                                <div class="mb-3">
                                    <label class="form-label">적용 범위</label>
                                    <select class="form-select" id="coupon-range" onchange="changeByRange()"
                                            name="isOrderCoupon">
                                        <option value="1" th:selected="${couponDetail.isOrderCoupon}">주문 쿠폰</option>
                                        <option value="0" th:selected="!${couponDetail.isOrderCoupon}">상품 쿠폰</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" id="apply-item-label">적용 카테고리 번호</label>
                                    <div class="row g-2">
                                        <div class="col">
                                            <input required type="text" class="form-control" id="itemName" disabled="disabled">
                                            <input hidden="hidden" type="number" name="applyItemId" id="itemId" th:value="${couponDetail.applyItemId}">
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" id="item-search-button" class="btn btn-icon"
                                                    aria-label="Button"
                                                    th:attr="onclick=${couponDetail.isOrderCoupon ? 'showCategoryPopup()' : 'showProductPopup()'}">
                                                <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                     height="24" viewBox="0 0 24 24" stroke-width="2"
                                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"/>
                                                    <path d="M21 21l-6 -6"/>
                                                </svg>
                                            </button>
                                        </div>

                                        <div class="card">
                                            <div class="card-body">
                                                <h5>변경 전</h5>
                                                <span th:if="${couponDetail.isOrderCoupon}">
                                            <div class="mb-1">
                                                <strong class="form-label">적용 카테고리 ID</strong>
                                                <span th:text="${couponDetail.applyItemId}"></span>
                                            </div>
                                            <div class="mb-1">
                                                <strong class="form-label">적용 카테고리</strong>
                                                <span th:text="${couponDetail.itemName}"></span>
                                            </div>
                                        </span>

                                                <span th:unless="${couponDetail.isOrderCoupon}">
                                            <div class="mb-1">
                                                <strong>적용 상품 ID</strong>
                                                <span th:text="${couponDetail.applyItemId}"></span>
                                            </div>
                                            <div class="mb-1">
                                                <strong>적용 상품</strong>
                                                <span th:text="${couponDetail.itemName}"></span>
                                            </div>
                                      </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md col-xl-3">
                            <div class="mb-3">
                                <label class="form-label">최소 사용 금액</label>
                                <input class="form-control" type="number" name="minimumUseAmount"
                                       th:value="${couponDetail.minimumUseAmount}" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">최대 할인 금액</label>
                                <input class="form-control" type="number" name="maximumDiscountAmount"
                                       th:value="${couponDetail.maximumDiscountAmount}" required>
                            </div>

                            <div class="mb-4">
                                <div class="form-label">중복 사용 가능 여부</div>
                                <div>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="isDuplicatable" value="true"
                                               th:checked="${couponDetail.isDuplicatable}" id="duplicate-true">
                                        <span class="form-check-label">중복 가능</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="isDuplicatable" value="false"
                                               th:checked="${!couponDetail.isDuplicatable}" id="duplicate-false">
                                        <span class="form-check-label">중복 불가</span>
                                    </label>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="form-label">수량 제한 여부</div>
                                <div>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="isLimited" value="true"
                                               th:checked="${couponDetail.isLimited}" id="limited-true">
                                        <span class="form-check-label">제한 있음</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="isLimited" value="false"
                                               th:checked="${!couponDetail.isLimited}" id="limited-false">
                                        <span class="form-check-label">제한 없음</span>
                                    </label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="text-end">
                                    <a class="btn btn-secondary" th:href="@{/admin/coupons/list}">뒤로가기</a>
                                    <input class="btn btn-primary" type="submit" value="변경하기">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>