<!DOCTYPE html>
<head>
    <script src="/js/coupon/couponCreateForm.js"></script>
    <script src="/js/coupon/couponPopup.js"></script>
    <link href="/css/form.css" rel="stylesheet">
</head>
    <div id="input-form">
        <form method="post" enctype="multipart/form-data">
            <label for="coupon-name">쿠폰 이름</label><input type="text" name="name" id="coupon-name"><br/>
            <label for="coupon-type">쿠폰 종류</label>
                <select type="number" name="typeCode" id="coupon-type" onchange="changeByType()">
                    <arc th:each="couponType:${couponTypeList}">
                        <option th:value="${couponType.id}" th:text="${couponType.name}"></option>
                    </arc>
                </select><br/>
            <label for="coupon-amount">할인량</label><input type="number" name="amount" id="coupon-amount"><br/>
            <div id="select-item">
                <label for="coupon-range">적용 범위</label>
                <select id="coupon-range" onchange="changeByRange()" name="isOrderCoupon">
                    <option value="1" selected>주문 쿠폰</option>
                    <option value="0">상품 쿠폰</option>
                </select><br/>
                <span>
                    <label id="apply-item-label" for="apply-item">적용 카테고리 번호</label><input type="number" name="applyItemId" id="apply-item">
                </span>
                <input type="button" value="찾기" id="item-search-button" onclick="showCategoryPopup()">
                <br/>
            </div>
            <label for="minimum-amount">최소 사용 금액</label><input type="number" name="minimumUseAmount" id="minimum-amount"><br/>
            <label for="maximum-amount">최대 할인 금액</label><input type="number" name="maximumDiscountAmount" id="maximum-amount"><br/>
            <label for="deadline">발급 기한 일시</label><input type="datetime-local" name="issuanceDeadlineAt" value="2030-01-01T00:00" id="deadline"><br/>
            <label>중복 사용 가능 여부</label><br/>
            <label for="duplicate-true" class="selector">가능</label> <input type="radio" name="isDuplicatable" value="true" checked id="duplicate-true">
            <label for="duplicate-false" class="selector">불가</label> <input type="radio" name="isDuplicatable" value="false" id="duplicate-false"><br/>
            <label>수량 제한 여부</label><br/>
            <label for="limited-true" class="selector">있음</label><input type="radio" name="isLimited" value="true" checked id="limited-true">
            <label for="limited-false" class="selector">없음</label><input type="radio" name="isLimited" value="false" id="limited-false"><br/>
            <label for="validate-term">유효 기간</label>
            <select id="validate-term" name="validateTerm">
                <option value="10" selected>10일</option>
                <option value="30">30일</option>
            </select><br/>
            <label for="image-input">쿠폰 이미지</label> <input type="file" accept="image/*" name="image" id="image-input"><br/>
            <input type="submit">
        </form>
    </div>
</html>


