<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-lg-9">
    <!-- Navbar Start -->
    <th:block th:include="admin/coupon/couponFragments/couponNavHead"/>
    <!-- Navbar End -->
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <form action="create" method="post" enctype="multipart/form-data">
            쿠폰 이름 : <input type="text" name="name"> <br/>
            사용자 ID : <input type="number" name="userId"><br/>
            쿠폰 종류 : <input type="text" name="typeName"><br/>
            할인 금액(정액) or 할인율(정율) : <input type="number" name="amount"><br/>
            적용 카테고리 번호 : <input type="number" name="categoryId"><br/>
            적용 상품 번호 : <input type="number" name="productId"><br/>
            최소 사용 금액 : <input type="number" name="minimumUseAmount"><br/>
            최대 할인 금액 : <input type="number" name="maximumDiscountAmount"><br/>
            발급 기한 일시 : <input type="date" name="issuanceDeadlineAt"><br/>
            중복 사용 가능 여부 : <input type="checkbox" name="isDuplicatable"><br/>
            발급 수 : <input type="number" name="issueAmount"><br/>
            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>