<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{thymeleaf/layout/blank}">
<head>
    <title>[관리자] 쿠폰 상세</title>
    <script src="/js/coupon/couponPopup.js"></script>
</head>

<th:block layout:fragment="content">
    <div class="row row-cards">

        <div class="card-header">
            <div class="text-center">
                <h4 class="card-title">쿠폰 상세</h4>
            </div>
        </div>

        <div class="col-12">
            <div class="row mb-4">
                <div class="col-md-6 col-xl-3">
                    <table class="table table-vcenter card-table">
                        <tr>
                            <td><strong>쿠폰 ID</strong></td>
                            <td><p th:text="${couponDetail.id}"></p></td>
                        </tr>
                        <tr>
                            <td><strong>쿠폰 이름</strong></td>
                            <td><p th:text="${couponDetail.name}"></p></td>
                        </tr>
                        <tr>
                            <td><strong>쿠폰 종류</strong></td>
                            <td><p th:text="${couponDetail.typeName}"></p></td>
                        </tr>

                        <span th:if="${couponDetail.typeName == '포인트'}">
                            <td><strong>적립 포인트</strong></td>
                            <td><p th:text="${couponDetail.amount} + '원'"></p></td>
                        </span>

                        <span th:unless="${couponDetail.typeName == '포인트'}">
                            <tr>
                            <span th:if="${couponDetail.typeName == '정률쿠폰'}">
                                <td><strong>할인율</strong></td>
                                <td><p th:text="${couponDetail.amount} + '%'"></p></td>
                            </span>
                            <span th:if="${couponDetail.typeName == '정액쿠폰'}">
                                <td><strong>할인 금액</strong></td>
                                <td><p th:text="${couponDetail.amount} + '원'"></p></td>
                            </span>
                            </tr>

                            <tr>
                            <span th:if="${couponDetail.isOrderCoupon}">
                                <td><strong>적용 카테고리 ID</strong></td>
                                <td><p th:text="${couponDetail.applyItemId}"></p></td>
                            </span>
                            <span th:unless="${couponDetail.isOrderCoupon}">
                                <td><strong>적용 상품 ID</strong></td>
                                <td><p th:text="${couponDetail.applyItemId}"></p></td>
                            </span>
                            </tr>

                            <tr>
                            <span th:if="${couponDetail.isOrderCoupon}">
                                <td><strong>적용 카테고리</strong></td>
                                <td><p th:text="${couponDetail.itemName}"></p></td>
                            </span>
                            <span th:unless="${couponDetail.isOrderCoupon}">
                                <td><strong>적용 상품</strong></td>
                                <td><p th:text="${couponDetail.itemName}"></p></td>
                            </span>
                            </tr>
                        </span>

                        <tr>
                            <td><strong>최소 사용 금액</strong></td>
                            <td><p th:text="${couponDetail.minimumUseAmount} + '원'"></p></td>
                        </tr>

                        <tr>
                            <td><strong>최대 할인 금액</strong></td>
                            <td><p th:text="${couponDetail.maximumDiscountAmount} + '원'"></p></td>
                        </tr>

                        <tr>
                            <td><strong>중복 사용 여부</strong></td>
                            <td>
                                <p th:if="${couponDetail.isDuplicatable == true}">가능</p>
                                <p th:if="${couponDetail.isDuplicatable == false}">불가</p>
                            </td>
                        </tr>

                        <tr>
                            <td><strong>등록 이미지</strong></td>
                            <td>
                                <div th:if="${couponDetail.objectFileId == null}">
                                    <span>등록된 이미지가 없습니다.</span>
                                </div>
                                <div th:if="${couponDetail.objectFileId != null}">
                                    <div class="text-center" style="width:100px;">
                                        <img class="product-img"
                                             style="max-height: 200px; width: 95%; margin-top:10px;"
                                             th:src="@{/storage/{objectFileId} (objectFileId = ${couponDetail.objectFileId})}"/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="text-center">
                <a class="btn btn-primary w-50" onclick="closeWindow()">닫기</a>
            </div>
        </div>
    </div>
</th:block>
