<!DOCTYPE html>
<html lang="ko">

    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        쿠폰 이름 : <div th:text="${couponDetail.couponName}"> </div>
        사용자 ID : <div th:text="${couponDetail.userId}"></div>
        쿠폰 종류 : <div th:text="${couponDetail.typeName}"></div>
        할인 금액(정액) or 할인율(정율) : <div th:text="${couponDetail.amount}"></div>
        적용 카테고리 번호 : <div th:text="${couponDetail.categoryId}"></div>
        적용 상품 번호 : <div th:text="${couponDetail.productId}"></div>
        최소 사용 금액 : <div th:text="${couponDetail.minimumUseAmount}"></div>
        최대 할인 금액 : <div th:text="${couponDetail.maximumDiscountAmount}"></div>
        발급 기한 일시 : <div th:text="${couponDetail.issuanceDeadlineAt}"></div>
        중복 사용 가능 여부 : <div th:text="${couponDetail.isDuplicatable}"></div>
    </div>
</html>