<!DOCTYPE html>
<html lang="ko">
<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <table>
        <tr>
            <td>쿠폰 ID</td>
            <td>사용유저</td>
            <td>쿠폰 코드</td>
            <td>쿠폰 이름</td>
            <td>사용일</td>
        </tr>
    <tbody th:each="issue:${issueList}">
        <tr>
            <td><p th:text="${issue.couponId}"></p></td>
            <td><p th:text="${issue.userId}"></p></td>
            <td><p th:text="${issue.code}"></p></td>
            <td><p th:text="${issue.name}"></p></td>
            <td><p th:text="${issue.issuedAt}"></p></td>
        </tr>
    </tbody>

    </table>
    <p th:if="${pageNum > 0}">
        <a th:href="${'issue/' + memberNo + (pageNum - 1)}">이전</a>
    </p>
    <p th:if="${#lists.size(issueList) > 0}">
        <a th:href="${'issue/' + memberNo + (pageNum + 1)}">다음</a>
    </p>
</div>
</html>