<!DOCTYPE html>
<head>
  <link href="/css/form.css" rel="stylesheet">
  <script src="/js/coupon/couponPopup.js"></script>
</head>
<html lang="ko">
<div id="header-carousel" class="carousel slide" data-ride="carousel">
  <div id="input-form">
    <form action="/admin/coupons/issue" method="post" enctype="multipart/form-data">
      <div>
        <label for="couponId">쿠폰 종류</label><input type="text" id="couponId", name="couponId">
        <input type="button" value="쿠폰 찾기" onclick="showCouponPopup();">
      </div>
      <div>
        <label for="quantity">수량</label><input type="number" name="quantity" id="quantity">
      </div><input type="submit" value="발급">
    </form>
  </div>
</div>
</html>
