<!DOCTYPE html>
<html lang="ko">

    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <table>
            <tr>
                <td>쿠폰 타입 ID</td>
                <td>쿠폰 타입 이름</td>
                <td></td>
                <td></td>
            </tr>
        <tbody th:each="couponType:${couponTypeList}">
            <tr>
                <td><p th:text="${couponType.id}"></p></td>
                <td><p th:text="${couponType.name}"></p></td>
                <td><a th:href="${'/admin/coupons/type/update/'+couponType.id}">수정</a></td>
                <td><a th:href="${'/admin/coupons/type/delete/'+couponType.id}">삭제</a></td>
            </tr>
        </tbody>

        </table>
        <p th:if="${pageNum > 0}">
            <a th:href="${'coupon/list/type/' + (pageNum - 1)}">이전</a>
        </p>
        <p th:if="${#lists.size(couponTypeList) == 20}">
            <a th:href="${'coupon/list/type/' + (pageNum + 1)}">다음</a>
        </p>
    </div>

</html>